harmony_button:

  default:
    - state:
        - value: "on"
          styles:
            card:
              - background-color: var(--button-card-on-background)
              - color: var(--button-card-on-text-color) #'#040404'
            custom_fields:
              svg_icon:
                - --button-card-light-color-no-temperature: var(--accent-color)
              corner:
                - color: var(--button-card-corner-on-text-color) #'#6F7075'
              corner_2:
                - color: var(--button-card-corner-on-text-color) #'#6F7075'
              cust_1:
                - color: var(--button-card-cust-1-on-text-color) #'#6F7075'
              cust_2:
                - color: var(--button-card-cust-2-on-text-color) #'#6F7075'
        - value: "unavailable"
          styles:
            icon:
              - color: var(--button-card-disabled-text-color)
            name:
              - color: var(--button-card-disabled-text-color)
            custom_fields:
              svg_icon:
                - --button-card-light-color-no-temperature: var(--button-card-disabled-text-color)
              corner:
                - color: var(--button-card-disabled-text-color)
              corner_2:
                - color: var(--button-card-disabled-text-color)
              cust_1:
                - color: var(--button-card-disabled-text-color)
              cust_2:
                - color: var(--button-card-disabled-text-color)


  card:
    type: custom:decluttering-card
    template: button_two_rows_svg
    variables:
      - entity: '[[entity]]'
      - name: '[[title]]'
      - icon: '[[icon]]'
      - svg_fill: '[[svg_fill]]'
      - svg_path: '[[svg_path]]'
      - svg_fill_on: '[[svg_fill_on]]'
      - svg_path_on: '[[svg_path_on]]'
      - cust_1_field: "[[[
            if ( entity.state == 'off' ) 
              return entity.state;
            else 
              return `${states['sensor.[[name]]_tv'].state}`;
          ]]]"
      - cust_2_field: '[[cust_2_field]]'
      - state: "[[state]]"
      # - tap_action:
      #     #haptic: light
      #     action: call-service
      #     service: switch.toggle
      #     service_data:
      #       entity_id: '[[entity]]'
      - hold_action: 
          action: none
      - double_tap_action:
          action: none
      - tap_action:
          #haptic: heavy
          action: fire-dom-event
          browser_mod:
            command: popup
            hide_header: false
            title: '[[title]]'
            
            card:

              type: entities
              state_color: true
              show_header_toggle: false
              style: |
                ha-card.type-entities {
                  background: none;
                  box-shadow: none;
                  padding: 0.3em 1.25em 0.4em 0.5em;
                }
              entities:

                - entity: sensor.[[name]]_tv
                  name: Activity


                - type: custom:hui-element
                  card_type: horizontal-stack
                  style: |
                    #root {
                      justify-content: space-evenly;
                      margin: 1.4em -0.7em 0.7em 0;
                    }
                  cards:

                    - type: custom:decluttering-card # Power
                      template: simple_button
                      variables:
                        - entity: '[[entity]]'
                        - name: Shield TV
                        - icon: '[[icon]]'
                        - show_name: true
                        - height: 68px


                    - type: custom:decluttering-card # Volume Up
                      template: simple_script_button
                      variables:
                        - entity: script.reciever_volume_up
                        - name: Volume
                        - icon: mdi:volume-plus
                        - show_name: true
                        - height: 68px

                    - type: custom:decluttering-card # Volume Down
                      template: simple_script_button
                      variables:
                        - entity: script.reciever_volume_down
                        - name: Volume
                        - icon: mdi:volume-minus
                        - show_name: true
                        - height: 68px

                    - type: custom:decluttering-card # Volume Mute
                      template: simple_script_button
                      variables:
                        - entity: script.reciever_volume_mute
                        - name: Mute
                        - icon: mdi:volume-mute
                        - show_name: true
                        - height: 68px
