next_select_button_alt:

  default:
    - color: var(--button-card-input-select-background)
    - text_color: var(--button-card-input-select-text)
    - color_type: card
    - show_name: true
    - show_icon: false
    - font_size: 38px
    - font_weight: normal

  card:
    type: custom:decluttering-card
    template: text_button
    variables:
      - entity: '[[entity]]'
      - name: '[[name]]'
      - text_field: '[[text_field]]'
      - cust_1_field: '[[cust_1_field]]'
      - cust_2_field: '[[cust_2_field]]'
      - color_type: '[[color_type]]'
      - show_name: '[[show_name]]'
      - show_icon: '[[show_icon]]'
      - font_size: '[[font_size]]'
      - font-weight: '[[font_weight]]'
      - height: '[[height]]'
      - size: '[[size]]'
      - tap_action: 
          action: call-service
          service: input_select.select_next
          service_data:
            entity_id: '[[entity]]'
      - hold_action:
          action: none