sensibo_swing_button_svg:

  default:
    - color: var(--button-color-green)
    - icon_color: var(--primary-text-color)
    - color_type: card
    #- text_color: var(--button-card-on-text-color)
    - show_name: true
    - svg_path_colored: 'M315.459 400H364.349C358.031 356.705 343.509 316.045 322.33 279.662L281.228 304.322C298.05 333.387 309.589 365.738 315.459 400ZM208.859 221.906C229.439 238.043 248.078 256.498 263.623 277.566L304.931 252.781C284.498 224.297 259.513 199.48 231.38 178.602L208.859 221.906ZM424 432.002H63.527L253.295 67.094C259.404 55.328 254.826 40.846 243.076 34.721C231.279 28.596 216.826 33.158 210.701 44.938L2.699 444.938C-1.161 452.375 -0.864 461.281 3.48 468.469C7.839 475.625 15.605 480 23.996 480H424C437.25 480 448 469.25 448 456S437.25 432.002 424 432.002Z'
    - svg_path_colored_on: 'M315.459 400H364.349C358.031 356.705 343.509 316.045 322.33 279.662L281.228 304.322C298.05 333.387 309.589 365.738 315.459 400ZM208.859 221.906C229.439 238.043 248.078 256.498 263.623 277.566L304.931 252.781C284.498 224.297 259.513 199.48 231.38 178.602L208.859 221.906ZM424 432.002H63.527L253.295 67.094C259.404 55.328 254.826 40.846 243.076 34.721C231.279 28.596 216.826 33.158 210.701 44.938L2.699 444.938C-1.161 452.375 -0.864 461.281 3.48 468.469C7.839 475.625 15.605 480 23.996 480H424C437.25 480 448 469.25 448 456S437.25 432.002 424 432.002Z'
    - svg_icon_x: -32


  card:
    type: custom:decluttering-card
    template: simple_button_svg
    variables:
      - entity: 'switch.sensibo_[[name]]_swing_mode'
      - name: Swing
      - show_name: '[[show_name]]'
      - icon: '[[icon]]'
      - size: '[[size]]'
      - color: '[[color]]'
      - color_type: '[[color_type]]'
      - height: '[[height]]'
      - layout: '[[layout]]'
      - svg_path_colored: '[[svg_path_colored]]'
      - svg_path_colored_on: '[[svg_path_colored_on]]'
      - svg_icon_x: '[[svg_icon_x]]'
      - svg_icon_y: '[[svg_icon_y]]'
      - svg_icon_width: '[[svg_icon_width]]'
      - svg_icon_height: '[[svg_icon_height]]'
      - tap_action: 
          action: "[[[ 
              if ( states['climate.[[name]]'].state == 'off' )
                return 'none';
              else
                return 'call-service';
            ]]]"
          service: switch.toggle
          service_data:
            entity_id: entity
      - hold_action:
          action: none