sensibo_assumed_state_button_svg:

  default:
    - color: var(--button-color-green)
    - icon_color: var(--primary-text-color)
    - color_type: card
    - text_color: var(--button-card-on-text-color)
    - show_name: true
    - name: State Sync
    - svg_path_colored: 'M454.781 288.969C442 285.219 428.719 292.562 425.031 305.281C403.312 379.906 333.781 432 256 432C189.475 432 129.262 393.719 99.564 336H200C213.25 336 224 325.25 224 312S213.25 288 200 288H40C26.75 288 16 298.75 16 312V472C16 485.25 26.75 496 40 496S64 485.25 64 472V369.883C103.736 436.426 176.133 480 256 480C355 480 443.469 413.688 471.094 318.719C474.812 305.969 467.5 292.656 454.781 288.969ZM472.062 16C458.812 16 448.062 26.75 448.062 40V142.07C408.314 75.555 335.912 32 256.062 32C157.062 32 68.594 98.312 40.969 193.281C37.25 206.031 44.562 219.344 57.281 223.031C70.125 226.813 83.375 219.406 87.031 206.719C108.75 132.094 178.281 80 256.062 80C322.588 80 382.826 118.281 412.527 176H312.062C298.812 176 288.062 186.75 288.062 200S298.812 224 312.062 224H472.062C485.312 224 496.062 213.25 496.062 200V40C496.062 26.75 485.312 16 472.062 16Z'
    - svg_path_colored_on: 'M454.781 288.969C442 285.219 428.719 292.562 425.031 305.281C403.312 379.906 333.781 432 256 432C189.475 432 129.262 393.719 99.564 336H200C213.25 336 224 325.25 224 312S213.25 288 200 288H40C26.75 288 16 298.75 16 312V472C16 485.25 26.75 496 40 496S64 485.25 64 472V369.883C103.736 436.426 176.133 480 256 480C355 480 443.469 413.688 471.094 318.719C474.812 305.969 467.5 292.656 454.781 288.969ZM472.062 16C458.812 16 448.062 26.75 448.062 40V142.07C408.314 75.555 335.912 32 256.062 32C157.062 32 68.594 98.312 40.969 193.281C37.25 206.031 44.562 219.344 57.281 223.031C70.125 226.813 83.375 219.406 87.031 206.719C108.75 132.094 178.281 80 256.062 80C322.588 80 382.826 118.281 412.527 176H312.062C298.812 176 288.062 186.75 288.062 200S298.812 224 312.062 224H472.062C485.312 224 496.062 213.25 496.062 200V40C496.062 26.75 485.312 16 472.062 16Z'


  card:
    type: custom:decluttering-card
    template: simple_button_svg
    variables:
      - entity: '[[entity]]'
      - name: '[[name]]'
      - show_name: '[[show_name]]'
      - icon: '[[icon]]'
      - size: '[[size]]'
      - color: '[[color]]'
      - color_type: '[[color_type]]'
      - height: '[[height]]'
      - layout: '[[layout]]'
      - svg_path_colored: '[[svg_path_colored]]'
      - svg_path_colored_on: '[[svg_path_colored_on]]'
      - svg_icon_x: '[[svg_icon_x]]'
      - svg_icon_y: '[[svg_icon_y]]'
      - svg_icon_width: '[[svg_icon_width]]'
      - svg_icon_height: '[[svg_icon_height]]'
      - tap_action: 
          action: call-service
          service: sensibo.assume_state
          service_data:
            entity_id: '[[entity]]'
            state: "[[[
                if (entity.state == 'off')
                  return 'on';
                else
                  return 'off';
              ]]]"
      - hold_action:
          action: none
      - state:
          - value: "on"
            styles:
              card:
                - background-color: '[[color]]'
                - color: '[[text_color]]'