sensibo_fan_select_button_svg:

  default:
    - entity: ""
    - font_size: 14px
    - padding_top: 6px
    - padding_bottom: 6px
    - height: 68px
    - width: ''
    - color_type: card
    - show_name: true
    - lock:
        enabled: false
        duration: 5
        unlock: tap

    # Styles
    - border_radius: var(--button-card-border-radius)
    - background_color: var(--button-card-background-color)
    #- icon_color: var(--button-card-icon-color)
    - text_color: var(--button-card-text-color)
    - text_transform: capitalize
    - lock_color: var(--button-card-text-color)
    - svg_fill_on: var(--button-card-on-text-color)
    - svg_fill_off: var(--button-card-icon-color)
    - svg_icon_x: 0
    - svg_icon_y: 0
    - svg_icon_width: 512
    - svg_icon_height: 512
    - svg_icon_field_height: 32px
    - svg_icon_field_width: 32px
    - selected_color: var(--button-card-on-background)
    - selected_text_color: var(--button-card-on-text-color)
    - svg_path_colored: 'M255.999 223.994C238.378 223.994 224.007 238.369 224.007 255.994S238.378 287.994 255.999 287.994S287.991 273.619 287.991 255.994S273.62 223.994 255.999 223.994ZM511.689 265.119V264.994C500.943 180.117 428.708 115.99 343.48 115.99C329.232 115.99 315.111 117.115 300.99 119.615L308.738 42.488C309.863 30.738 305.613 19.113 297.115 10.863S276.745 -1.262 265.122 0.363C180.142 10.988 116.032 83.24 116.032 168.492C116.032 182.742 117.157 196.992 119.656 210.992L42.548 203.242C30.927 201.992 19.304 206.242 11.181 214.617C2.808 223.119 -1.19 235.119 0.31 246.869C11.056 331.871 83.29 395.996 168.519 395.996C182.767 395.996 196.888 394.871 211.009 392.371L203.261 469.498C202.011 481.123 206.261 492.75 214.634 500.875C222.007 508 231.755 512 242.003 512C243.626 512 245.376 511.875 247.001 511.75C331.857 501 395.966 428.748 395.966 343.496C395.966 329.246 394.841 315.121 392.343 300.994L469.449 308.869C481.072 309.994 492.695 305.744 500.818 297.369C509.191 288.869 513.189 276.994 511.689 265.119ZM350.052 248.551C338.325 247.367 329.386 258.838 333.402 269.92L337.73 281.869C344.478 300.494 347.978 321.246 347.978 343.496C347.978 400.748 307.488 449.998 252.124 462.123L263.441 350.068C264.624 338.34 253.152 329.402 242.07 333.418L230.13 337.746C211.509 344.621 190.765 347.996 168.519 347.996C111.282 347.996 62.169 307.494 49.923 252.119L161.947 263.436C173.673 264.621 182.613 253.148 178.597 242.066L174.269 230.119C167.521 211.492 164.021 190.742 164.021 168.492C164.021 111.24 204.511 62.115 259.874 49.865L248.558 161.918C247.374 173.646 258.847 182.586 269.929 178.568L281.868 174.242C300.49 167.492 321.234 163.992 343.48 163.992C400.716 163.992 449.954 204.492 462.075 259.869L350.052 248.551Z'
    - svg_path_colored_on: 'M255.999 223.994C238.378 223.994 224.007 238.369 224.007 255.994S238.378 287.994 255.999 287.994S287.991 273.619 287.991 255.994S273.62 223.994 255.999 223.994ZM511.689 265.119V264.994C500.943 180.117 428.708 115.99 343.48 115.99C329.232 115.99 315.111 117.115 300.99 119.615L308.738 42.488C309.863 30.738 305.613 19.113 297.115 10.863S276.745 -1.262 265.122 0.363C180.142 10.988 116.032 83.24 116.032 168.492C116.032 182.742 117.157 196.992 119.656 210.992L42.548 203.242C30.927 201.992 19.304 206.242 11.181 214.617C2.808 223.119 -1.19 235.119 0.31 246.869C11.056 331.871 83.29 395.996 168.519 395.996C182.767 395.996 196.888 394.871 211.009 392.371L203.261 469.498C202.011 481.123 206.261 492.75 214.634 500.875C222.007 508 231.755 512 242.003 512C243.626 512 245.376 511.875 247.001 511.75C331.857 501 395.966 428.748 395.966 343.496C395.966 329.246 394.841 315.121 392.343 300.994L469.449 308.869C481.072 309.994 492.695 305.744 500.818 297.369C509.191 288.869 513.189 276.994 511.689 265.119ZM350.052 248.551C338.325 247.367 329.386 258.838 333.402 269.92L337.73 281.869C344.478 300.494 347.978 321.246 347.978 343.496C347.978 400.748 307.488 449.998 252.124 462.123L263.441 350.068C264.624 338.34 253.152 329.402 242.07 333.418L230.13 337.746C211.509 344.621 190.765 347.996 168.519 347.996C111.282 347.996 62.169 307.494 49.923 252.119L161.947 263.436C173.673 264.621 182.613 253.148 178.597 242.066L174.269 230.119C167.521 211.492 164.021 190.742 164.021 168.492C164.021 111.24 204.511 62.115 259.874 49.865L248.558 161.918C247.374 173.646 258.847 182.586 269.929 178.568L281.868 174.242C300.49 167.492 321.234 163.992 343.48 163.992C400.716 163.992 449.954 204.492 462.075 259.869L350.052 248.551Z'


  card:
    type: custom:button-card
    entity: 'sensor.sensibo_[[name]]_fan'
    name: '[[title]]'
    show_name: '[[show_name]]'
    color_type: '[[color_type]]'
    show_last_changed: false
    lock: '[[lock]]'
    styles:
      card:
        - padding-top: '[[padding_top]]'
        - padding-bottom: '[[padding_bottom]]'
        - font-size: 12px
        - font-weight: bold
        - text-transform: '[[text_transform]]'
        - border-radius: '[[border_radius]]'
        - background-color: '[[background_color]]'
        - color: '[[text_color]]'
        - backdrop-filter: blur(20px)
        - width: '[[width]]'
        - height: '[[height]]'
      grid:
        - grid-template-areas: '"svg_icon" "n"'
        - grid-template-columns: 1fr
        - grid-template-rows: 4fr 2fr
      name:
        - font-size: '[[font_size]]'
        - justify-self: center
        - align-self: end
        - padding-top: 0px
        - padding-bottom: 0px
      lock:
        - color: '[[lock_color]]'
        - justify-content: flex-end
        - align-items: flex-start
      custom_fields:
        svg_icon:
          - justify-self: center
          - align-self: center
          - margin: none
          - height: '[[svg_icon_field_height]]'
          - width: '[[svg_icon_field_width]]'
          - padding-bottom: 0px
    custom_fields:  

      svg_icon: "[[[
          if ( entity.state == '[[fan_mode]]' )
            return `<svg viewBox='[[svg_icon_x]] [[svg_icon_y]] [[svg_icon_width]] [[svg_icon_height]]'>
            <path fill='[[svg_fill_on]]' d='[[svg_path_colored_on]]'/> </svg>`;
          else
            return `<svg viewBox='[[svg_icon_x]] [[svg_icon_y]] [[svg_icon_width]] [[svg_icon_height]]'>
            <path fill='[[svg_fill_off]]' d='[[svg_path_colored]]'/> </svg>`;
        ]]]"

    tap_action: 
      action: "[[[ 
          if ( states['climate.[[name]]'].state == 'off' )
            return 'none';
          else
            return 'call-service';
        ]]]"
      service: climate.set_fan_mode
      service_data:
        entity_id: 'climate.[[name]]'
        fan_mode: "[[fan_mode]]"
    hold_action:
      action: none
    state:
      - value: '[[fan_mode]]'
        styles:
          card:
            - background-color: '[[selected_color]]'
            - color: '[[selected_text_color]]'
      