socket_button:

  default:
    - icon: mdi:light-switch
    - state:
        - value: "on"
          styles:
            card:
              - background-color: var(--button-card-on-background)
              - color: var(--button-card-on-text-color) #'#040404'
            custom_fields:
              svg_icon:
                - --button-card-light-color-no-temperature: var(--accent-color)
              corner:
                - color: var(--button-card-corner-on-text-color) #'#6F7075'
              corner_2:
                - color: var(--button-card-corner-on-text-color) #'#6F7075'
              cust_1:
                - color: var(--button-card-cust-1-on-text-color) #'#6F7075'
              cust_2:
                - color: var(--button-card-cust-2-on-text-color) #'#6F7075'
        - value: "unavailable"
          styles:
            icon:
              - color: var(--button-card-disabled-text-color)
            name:
              - color: var(--button-card-disabled-text-color)
            custom_fields:
              svg_icon:
                - --button-card-light-color-no-temperature: var(--button-card-disabled-text-color)
              corner:
                - color: var(--button-card-disabled-text-color)
              corner_2:
                - color: var(--button-card-disabled-text-color)
              cust_1:
                - color: var(--button-card-disabled-text-color)
              cust_2:
                - color: var(--button-card-disabled-text-color)


  card:
    type: custom:decluttering-card
    template: button_two_rows_svg
    variables:
      - entity: '[[entity]]'
      - name: '[[name]]'
      - icon: '[[icon]]'
      - svg_fill: '[[svg_fill]]'
      - svg_path: '[[svg_path]]'
      - svg_fill_on: '[[svg_fill_on]]'
      - svg_path_on: '[[svg_path_on]]'
      - color: '[[color]]'
      - color_type: '[[color_type]]'
      - corner_text_color: ""
      - corner_icon_color: ""
      - cust_1_text_color: "[[cust_1_text_color]]"
      - cust_1_icon_color: "[[cust_1_icon_color]]"
      - cust_2_text_color: "[[cust_2_text_color]]"
      - cust_2_icon_color: "[[cust_2_icon_color]]"
      - corner_field: ""
      - cust_1_field: "[[[
            if (entity.state == 'on')
              return states['[[sensor_power]]'].state + ' W';
            else
              return entity.state;                  
          ]]]"
      - cust_2_field: '[[cust_2_field]]'
      - tap_action: 
          action: toggle
      - hold_action:
          action: more-info
      - state: "[[state]]"