title: נוכחות
path: tiles_presence
visible: false
type: masonry
subview: true

badges:

  # Back Chip
  - type: 'custom:button-card'
    template:
      - 'chip_back_new'
    label: "למסך הבית"
    variables:
      ulm_chip_navigate_path: /lovelace-wallpanel-tiles/home
      
  # Presense Chip
  - type: 'custom:button-card'
    template:
      - 'chip_two_rows_presence'
    variables:
      ulm_chip_icon_state_entity: sensor.persons_home_counter

  # School Day Chip
  - type: 'custom:button-card'
    template:
      - 'chip_school_day'
    variables:
      ulm_chip_icon_state_entity: binary_sensor.school_day


cards:

  ############################################################################
  #                                                                          #
  #   First Column                                                           #
  #                                                                          #
  ############################################################################

  - type: horizontal-stack
    cards:

      - type: custom:button-card
        template: card_blank

      - type: vertical-stack
        cards:

          ############################################################################
          #                                                                          #
          #   Presence                                                               #
          #                                                                          #
          ############################################################################

          - type: custom:button-card
            template: title
            name: "[[[ return variables.presence; ]]]"

          - type: grid
            square: false
            columns: 4
            cards:

              # Dima
              - type: tile
                entity: person.dmatik
                show_entity_picture: true
                hide_state: false
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                 

              # Galit
              - type: tile
                entity: person.galit
                show_entity_picture: true
                hide_state: false
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                 

              # Ronen
              - type: tile
                entity: person.ronen
                show_entity_picture: true
                hide_state: false
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                 

              # Kfir
              - type: tile
                entity: person.kfir
                show_entity_picture: true
                hide_state: false
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                 

              - type: custom:button-card
                template: card_blank



          ############################################################################
          #                                                                          #
          #   Vacations and Holidays                                                 #
          #                                                                          #
          ############################################################################

          - type: custom:button-card
            template: title
            name: "[[[ return variables.ulm_school_holidays; ]]]"

          - type: grid
            square: false
            columns: 2
            cards:

              # School Day
              - type: 'custom:button-card'
                template: 'card_school_day'

              # Vacation
              - type: 'tile'
                entity: 'input_boolean.vacation'
                name: 'חופשה'
                tap_action:
                  action: 'more-info'
                icon_tap_action:
                  action: 'more-info'
                color: 'accent'                

