title: Security
path: tiles_security
visible: false
icon: mdi:cctv
type: masonry
subview: true

badges:

  # Back Chip
  - type: 'custom:button-card'
    template:
      - 'chip_back_new'
    label: "למסך הבית"
    variables:
      ulm_chip_navigate_path: /lovelace-wallpanel-tiles/home
      
  # Motion Chip
  - type: 'custom:button-card'
    template:
      - 'chip_two_rows_motion'
    variables:
      ulm_chip_icon_state_entity: sensor.motion_sensors_detected_counter

cards:

  ############################################################################
  #                                                                          #
  #   First Column                                                           #
  #                                                                          #
  ############################################################################

  - type: horizontal-stack
    cards:

      - type: custom:button-card
        template: card_blank

      - type: vertical-stack
        cards:

          # Motion
          - type: custom:button-card
            template: title
            name: "[[[ return variables.ulm_motion; ]]]"

          - type: grid
            #title: תנועה
            square: false
            columns: 4
            cards:

              # Living Room Camera Sensor
              - type: tile
                entity: binary_sensor.living_room_cell_motion_detection
                icon_tap_action:
                  action: more-info
                hide_state: false
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Guest Bathroom Mirror Sensor
              - type: tile
                entity: binary_sensor.guest_bathroom_mirror_motion_sensor_occupancy
                icon_tap_action:
                  action: more-info
                hide_state: false
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Guest Bathroom New Sensor
              - type: tile
                entity: binary_sensor.guest_bathroom_new_motion_sensor_occupancy
                icon_tap_action:
                  action: more-info
                hide_state: false
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Kitchen Right
              - type: tile
                entity: binary_sensor.kitchen_right_motion_sensor_occupancy
                icon_tap_action:
                  action: more-info
                hide_state: false
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Kitchen Left
              - type: tile
                entity: binary_sensor.kitchen_left_motion_sensor_occupancy
                icon_tap_action:
                  action: more-info
                hide_state: false
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Bathroom Right Sensor
              - type: tile
                entity: binary_sensor.bathroom_new_right_motion_sensor_occupancy
                icon_tap_action:
                  action: more-info
                hide_state: false
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Bathroom Left Sensor
              - type: tile
                entity: binary_sensor.bathroom_new_left_motion_sensor_occupancy
                icon_tap_action:
                  action: more-info
                hide_state: false
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Parents Bathroom Left Sensor
              - type: tile
                entity: binary_sensor.parents_bathroom_new_left_motion_sensor_occupancy
                icon_tap_action:
                  action: more-info
                hide_state: false
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Parents Bathroom Right Sensor
              - type: tile
                entity: binary_sensor.parents_bathroom_new_right_motion_sensor_occupancy
                icon_tap_action:
                  action: more-info
                hide_state: false
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Basement Camera
              - type: tile
                entity: binary_sensor.basement_cell_motion_detection
                icon_tap_action:
                  action: more-info
                hide_state: false
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   


      - type: custom:button-card
        template: card_blank



  ############################################################################
  #                                                                          #
  #   Second Column                                                          #
  #                                                                          #
  ############################################################################

  - type: horizontal-stack
    cards:

      - type: custom:button-card
        template: card_blank

      - type: vertical-stack
        cards:

          # Cameras
          - type: custom:button-card
            template: title
            name: "[[[ return variables.ulm_cameras; ]]]"

          - type: grid
            #title: מצלמות
            square: false
            columns: 1
            cards:

              # Living Room
              - type: 'custom:button-card'
                template: 
                  - "card_video_stream"
                variables:
                  ulm_card_video_stream_entity: camera.living_room_profile001_substream
                  #ulm_card_video_stream_url: reo_living_room_sub
                  #ulm_card_video_stream_title: 'סלון' #'[[[ return variables.ulm_living_room; ]]]'

              # Basement
              - type: 'custom:button-card'
                template: 
                  - "card_video_stream"
                variables:
                  ulm_card_video_stream_entity: camera.basement_profile001_substream
                  #ulm_card_video_stream_url: reo_basement_sub
                  #ulm_card_video_stream_title: 'מרתף' #'[[[ return variables.ulm_basement; ]]]'


      - type: custom:button-card
        template: card_blank                  