title: תאורה
path: tiles_lights
visible: false
type: masonry
subview: true

badges:

  # Back Chip
  - type: 'custom:button-card'
    template:
      - 'chip_back_new'
    label: "למסך הבית"
    variables:
      ulm_chip_navigate_path: /lovelace-wallpanel-tiles/home

  # Lights Chip
  - type: 'custom:button-card'
    template:
      - 'chip_two_rows_lights'
    variables:
      ulm_chip_icon_state_entity: sensor.lights_on_counter


cards:


  ############################################################################
  #                                                                          #
  #   First Column                                                           #
  #                                                                          #
  ############################################################################

  - type: horizontal-stack
    cards:

      - type: custom:button-card
        template: card_blank

      - type: vertical-stack
        cards:

          # Living Room
          - type: custom:button-card
            template: title
            name: "[[[ return variables.ulm_living_room; ]]]"

          - type: grid
            #title: סלון
            square: false
            columns: 4
            cards:

              # Living Room Light
              - type: tile
                entity: light.living_room
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                  

              # Dining Light
              - type: tile
                entity: light.dining
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # TV Wall Light
              - type: tile
                entity: light.living_room_tv_wall
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Stairs Light
              - type: tile
                entity: light.stairs_ground_floor
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Entrance Light
              - type: tile
                entity: light.entrance
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                                       

              # Guests Bathroom Light
              - type: tile
                entity: light.guests_bathroom
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2          

              # Front Yard Light
              - type: tile
                entity: light.front_yard
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info 
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                  

              # Back Yard Light
              - type: tile
                entity: light.back_yard
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info 
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                  



          # Kitchen
          - type: custom:button-card
            template: title
            name: "[[[ return variables.ulm_kitchen; ]]]"

          - type: grid
            #title: מטבח
            square: false
            columns: 4
            cards:

              # Kitchen Light
              - type: tile
                entity: light.kitchen
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                  

              # Kitchen Led Strip
              - type: tile
                entity: light.kitchen_led_strip
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2

              # Kitchen Bar Light
              - type: tile
                entity: light.kitchen_bar
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                  

      - type: custom:button-card
        template: card_blank



  ############################################################################
  #                                                                          #
  #   Second Column                                                          #
  #                                                                          #
  ############################################################################

  - type: horizontal-stack
    cards:

      - type: custom:button-card
        template: card_blank

      - type: vertical-stack
        cards:

          # Floor 2
          - type: custom:button-card
            template: title
            name: "[[[ return variables.ulm_floor_2; ]]]"

          - type: grid
            #title: קומה 2
            square: false
            columns: 4
            cards:

              # Hallway Light
              - type: tile
                entity: light.hallway_stairs
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info 
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                  

              # Bathroom Light
              - type: tile
                entity: light.bathroom_ceiling
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info 
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Bathroom Mirror Light
              - type: tile
                entity: light.bathroom_mirror
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info 
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                    

              # Laundry Light
              - type: tile
                entity: light.laundry
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info 
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                  


          # Bedroom
          - type: custom:button-card
            template: title
            name: "[[[ return variables.ulm_bedroom; ]]]"

          - type: grid
            #title: הורים
            square: false
            columns: 4
            cards:

              # Bedroom Light
              - type: tile
                entity: light.bedroom
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                    

              # Bedroom Balcony Light
              - type: tile
                entity: light.bedroom_balcony
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                    

              # Bedside Dima Light
              - type: tile
                entity: light.bedside_dima_bulb
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info  
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                                                                  

              # Bedside Galit Light
              - type: tile
                entity: light.bedside_galit_bulb
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info 
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                    

              # Parents Bathroom Light
              - type: tile
                entity: light.parents_bathroom_ceiling
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info 
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                       

              # Parents Bathroom Mirror Light
              - type: tile
                entity: light.parents_bathroom_mirror
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info 
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

          # Ronen Room
          - type: custom:button-card
            template: title
            name: "[[[ return variables.ulm_ronen_room; ]]]"

          - type: grid
            #title: רונן
            square: false
            columns: 4
            cards:

              # Ronen Room Light
              - type: tile
                entity: light.ronen_room
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info 
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Ronen Led Strip
              - type: tile
                entity: light.ronen_led_strip
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

          # Kfir Room
          - type: custom:button-card
            template: title
            name: "[[[ return variables.ulm_kfir_room; ]]]"

          - type: grid
            #title: כפיר
            square: false
            columns: 4
            cards:

              # Kfir Room Light
              - type: tile
                entity: light.kfir_room
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Kfir Led Strip
              - type: tile
                entity: light.kfir_led_strip
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

      - type: custom:button-card
        template: card_blank                  



  ############################################################################
  #                                                                          #
  #   Third Column                                                           #
  #                                                                          #
  ############################################################################

  - type: horizontal-stack
    cards:

      - type: custom:button-card
        template: card_blank

      - type: vertical-stack
        cards:

          # Basement
          - type: custom:button-card
            template: title
            name: "[[[ return variables.ulm_basement; ]]]"

          - type: grid
            #title: מרתף
            square: false
            columns: 4
            cards:

              # Basement Light
              - type: tile
                entity: light.basement
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Basement 2 Light
              - type: tile
                entity: light.basement_2_light_1
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Basement 3 Light
              - type: tile
                entity: light.basement_2_light_2
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

              # Basement Toys Light
              - type: tile
                entity: light.basement_toys
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

          # Work Room
          - type: custom:button-card
            template: title
            name: "[[[ return variables.ulm_work_room; ]]]"

          - type: grid
            #title: חדר עבודה
            square: false
            columns: 4
            cards:

              # Work Room Light
              - type: tile
                entity: light.work_room
                tap_action:
                  action: toggle
                hold_action:
                  action: more-info
                double_tap_action:
                  action: more-info
                hide_state: true
                vertical: true
                grid_options:
                  columns: 3
                  rows: 2                   

      - type: custom:button-card
        template: card_blank                  

