html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	padding:0;
}

body {
	margin:0;
	background-color: #000;
	font-size:15px;
	color:#646464;
	padding:0;
	font-family:'Helvetica Neue','Helvetica','Open Sans','Arial';
}

body::after
{
  background-size:cover;
  background-image: url(/custom_css/blur_light/img/salon.jpg);
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

b,strong {
	font-weight:700;
}

a {
	text-decoration:none;
	color:inherit;
}

img {
	border:0;
	-ms-interpolation-mode:bicubic;
	vertical-align:middle;
}

img,object {
	max-width:100%;
}

iframe {
	max-width:100%;
}

table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}

td {
	vertical-align:middle;
}

ul,ol {
	padding:0;
	margin:0;
}

h1, h2, h3, h4, h5, p {
	padding:0;
	margin:0;
}

h1 {
	margin-bottom:6px;
	text-align:center;
	font-size:100%;
	font-weight:200;
}

h2 {
	font-size:220%;
	font-weight:400;
/	color:#646464; 
}

h3 {
	font-size:125%;
	font-weight:300;
	color:#646464;
}

.dashboard_main {
	margin: 0px auto;
}

.gridster {
	margin: 0px auto;
}

.icon-background {
	pointer-events:none;
	width:100%!important;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	opacity:.1;
	font-size:1375%;
	text-align:center;
	margin-top:82px;
}

.list-nostyle {
	list-style:none;
}

.gridster ul {
	list-style:none;
}

.gs-w {
	width:100%;
	display:table;
	cursor:pointer;
}

.widget {
	padding:0px 0px;
	text-align:center;
	width:100%;
	display:table-cell;
	vertical-align:middle;
	/*border-radius: 12px; */
	background-color: rgba(255, 255, 255, 0.5);
}

.title
{
	color:#646464;
	z-index: 1;
	/*background-color: rgba(255, 255, 255, 0.2); 
	margin-top: -5px;
	height: 35px;
	padding-top: 5px;
	padding-bottom: 6px; */
  
}

.title2
{
  z-index: 2;
  margin-top: 0;
}

.icon-inactive {
	color:#888;
	font-size:300%;
	top: 54px !important;
}

.icon-active {
	font-size:300%;
	top: 54px !important;
}

.icon
{
  font-size: 300%;
  /* top: 56px !important; */
}

#container {
	padding-top:0px;
}

.unit, .level {
	font-size:120%!important;
	vertical-align:baseline!important;
	color: #646464 !important;
}

.value
{
  color: inherit;
}

.valueunit
{
  /*top: 62px !important; */
}

.state_text
{
  /* bottom: -3px !important; */
  text-transform: capitalize;
}

.levelunit
{
  bottom: 0px !important;
}

.secondary-info
{
  font-weight: 400 !important;
}