blueprint:
  name: Boiler Heat Schedule with Thermostat
  description: Switcher boiler water heating schedule using Generic Thermostat
  domain: automation
  input:
    thermostat_entity:
      name: Generic Thermostat Entity
      selector:
        entity:
          domain: climate
    water_temp_entity:
      name: Water Temperature Entity
      selector:
        entity:
          domain: sensor          
    # time_on:
    #   name: Time ON
    #   selector:
    #     time:
    # time_off:
    #   name: Time OFF
    #   selector:
    #     time:
    time_on_entity:
      name: Time ON Helper
      selector:
        entity:
          domain: input_datetime
    time_off_entity:
      name: Time OFF Helper
      selector:
        entity:
          domain: input_datetime          
    target_temp_value:
      name: Target Temperature
      default: 60
      selector:
        number:
          min: 0
          max: 70
          unit_of_measurement: "°C"
    threshold_temp_value:
      name: Threshold Temperature
      default: 50
      selector:
        number:
          min: 0
          max: 70
          unit_of_measurement: "°C"              
    weekday:
      name: Days of the week for Schedule
      default: [sun, mon, tue, wed, thu, fri, sat]
      selector:
        select:
          options:
          - label: Sunday
            value: sun          
          - label: Monday
            value: mon
          - label: Tuesday
            value: tue
          - label: Wednesday
            value: wed
          - label: Thursday
            value: thu
          - label: Friday
            value: fri
          - label: Saturday
            value: sat
          custom_value: false
          multiple: true       

trigger:

  # Start Time
  - trigger: time
    at: !input time_on_entity
    id: boiler_on

  # End Time
  - trigger: time
    at: !input time_off_entity
    id: boiler_off

  # HA Startup - in case of outages
  - trigger: homeassistant
    event: start
    id: boiler_on

conditions:
  - condition: time
    weekday: !input weekday
  - condition: state
    entity_id: input_boolean.vacation
    state: "off"    

action:
  - choose:

      - conditions:
          - condition: trigger
            id: boiler_on
          - condition: time
            after: !input time_on_entity
            before: !input time_off_entity
          - condition: numeric_state
            entity_id: !input water_temp_entity
            below: !input threshold_temp_value
        sequence:
          - action: climate.set_temperature
            data:
              temperature: !input target_temp_value
            target:
              entity_id: !input thermostat_entity        
          - action: climate.turn_on
            target:
              entity_id: !input thermostat_entity

      - conditions:
          - condition: trigger
            id: boiler_off
          - condition: state
            entity_id: !input thermostat_entity
            state: "heat"
        sequence:
          - action: climate.turn_off
            target:
              entity_id: !input thermostat_entity              
