blueprint:
  name: Morning AC - Heating
  description: Handle AC in morning for Heating.
  domain: automation
  input:
    climate_entity:
      name: Climate Entity
      selector:
        entity:
          domain: climate  
    target_temperature_value:
      name: Target Temperature
      default: 25
      selector:
        number:
          min: 17
          max: 32
          unit_of_measurement: °C
    threashold_temperature_value:
      name: Threshold Temperature
      default: 20
      selector:
        number:
          min: 17
          max: 32
          unit_of_measurement: °C          
    start_time:
      name: Start Time
      selector:
        time:
    end_time:
      name: End Time
      selector:
        time:  
    work_school_day_sensor_entity:
      name: (Optional) Work/School Day Sensor Entity
      description: Optional work/school day binary sensor
      default: null
      selector:
        entity:
          domain: binary_sensor

variables:
  work_school_day_sensor_var: !input work_school_day_sensor_entity

trigger:
  - trigger: time
    at: !input start_time
    id: climate_on
  - trigger: time
    at: !input end_time
    id: climate_off

conditions:
  - condition: state
    entity_id: input_boolean.vacation
    state: "off"

action:
  - choose:
      - conditions:
          - condition: trigger
            id: climate_on
          - condition: template
            value_template: >
              {{ (work_school_day_sensor_var is not defined or work_school_day_sensor_var == None) 
                or is_state(work_school_day_sensor_var, 'on') }}            
          - condition: state
            entity_id: !input climate_entity
            state: 'off'
          - condition: numeric_state
            entity_id: !input climate_entity
            attribute: current_temperature
            below: !input threashold_temperature_value
        sequence:
          - service: climate.set_temperature
            metadata: {}
            data:
              temperature: !input target_temperature_value
              hvac_mode: heat
            target:
              entity_id: !input climate_entity
          - service: climate.set_fan_mode
            metadata: {}
            data:
              fan_mode: auto
            target:
              entity_id: !input climate_entity
          - service: climate.turn_on
            target:
              entity_id: !input climate_entity
            data: {}                
      - conditions:
          - condition: trigger
            id: climate_off              
          - condition: state
            entity_id: !input climate_entity
            state: heat          
        sequence:
          - service: climate.turn_off
            target:
              entity_id: !input climate_entity
            data: {}          
            
max_exceeded: silent