blueprint:
  name: Sync Multiple Switches
  description: Sync the On/Off status of 2 or more switches
  domain: automation
  input:
    switch:
      name: Switches to Control
      selector:
        entity:
          multiple: true
          domain:
            - switch
            - light
variables:
  switches: !input switch
trigger:
  - trigger: state
    entity_id: !input switch
    not_from:
      - unavailable
      - unknown
    not_to:
      - unavailable
      - unknown    
action:
  - service: "homeassistant.turn_{{ trigger.to_state.state }}"
    target:
      entity_id: "{{ switches | reject('is_state', trigger.to_state.state) | list }}"
max_exceeded: silent
mode: single