- id: '1616736935086'
  alias: Morning Living Room AC
  description: Morning Living Room AC
  use_blueprint:
    path: on_off_schedule_state_persistence.yaml
    input:
      off_time: '8:00:00'
      on_time: '6:00:00'
      automation_target:
        entity_id: climate.living_room
      trigger_at_homeassistant_startup: false
- id: '1616737272376'
  alias: Night Kids Radiator 1
  description: Night Kids Radiator 1
  use_blueprint:
    path: on_off_schedule_state_persistence.yaml
    input:
      off_time: '19:45:00'
      automation_target:
        entity_id: switch.kids_radiator
      on_time: '19:00:00'
      trigger_at_homeassistant_startup: true
- id: '1616737314427'
  alias: Night Kids Radiator 2
  description: Night Kids Radiator 2
  use_blueprint:
    path: on_off_schedule_state_persistence.yaml
    input:
      off_time: '7:00:00'
      automation_target:
        entity_id: switch.kids_radiator
      on_time: '3:00:00'
      trigger_at_homeassistant_startup: true
- id: '1616739703903'
  alias: Night Lights
  description: Night Lights
  use_blueprint:
    path: scene_on_off_schedule_state_persistence.yaml
    input:
      off_time: 07:30:00
      on_time: '18:00:00'
      trigger_at_homeassistant_startup: false
      on_scene: scene.night_lights_on
      off_scene: scene.night_lights_off
- id: '1630042564509'
  alias: Havid
  description: ''
  trigger:
  - platform: time
    at: 06:40:00
  condition:
  - condition: time
    weekday:
    - mon
    - tue
    - wed
    - thu
    - fri
    - sun
  action:
  - delay: 00:{{ (range(0, 30)|random|int) }}:00
  - service: script.sign_and_download_havid_edu
  mode: single
- id: '1630043760830'
  alias: Low battery level detection & notification for all battery sensors
  description: ''
  use_blueprint:
    path: sbyx/low-battery-level-detection-notification-for-all-battery-sensors.yaml
    input:
      threshold: 10
      time: '5:00:00'
      exclude:
        entity_id:
        - sensor.ipadminidima_battery_level
        - sensor.iphonedima_battery_level
        - sensor.kfir_tab_battery_level
        - sensor.kfir_sm_t290_battery_state
        - sensor.ronen_ronen_tab_battery_state
        - sensor.kfir_tab_battery_level
        - sensor.sm_n960f_battery_level
        - sensor.sm_n960f_battery_state
      actions:
      - service: notify.persistent_notification
        data:
          title: Battery Low
          message: 'Low battery warning for: {{sensors}}'
- id: '1630044898982'
  alias: Kitchen Strips ON (Motion)
  description: ''
  trigger:
  - platform: state
    entity_id: group.kitchen_motion_sensors
    to: 'on'
  condition:
  - condition: state
    entity_id: light.kitchen_strips
    state: 'off'
  - type: is_illuminance
    condition: device
    device_id: f0d870e14c46869421ee549c5d8e0117
    entity_id: sensor.motion_kitchen_lightlevel
    domain: sensor
    below: 100
  action:
  - service: light.turn_on
    target:
      entity_id: light.kitchen_strips
  mode: single
- id: '1630045120285'
  alias: Kitchen Strips OFF (Motion)
  description: ''
  trigger:
  - platform: state
    entity_id: group.kitchen_motion_sensors
    to: 'off'
    for:
      hours: 0
      minutes: 10
      seconds: 0
      milliseconds: 0
  condition:
  - condition: state
    entity_id: group.kitchen_motion_sensors
    state: 'off'
  action:
  - service: light.turn_off
    target:
      entity_id: light.kitchen_strips
  mode: single
- id: '1630052525462'
  alias: Red Alert Ashdod
  description: ''
  trigger:
  - platform: state
    entity_id: binary_sensor.redalert_ashdod
    to: 'on'
  condition: []
  action:
  - service: scene.turn_on
    target:
      entity_id: scene.red_alert_lights
    data: {}
  - service: notify.mobile_app_iphonedima
    data:
      title: צבע אדום אשדוד
      message: '{{ state_attr("sensor.redalert", "current")["title"] }}'
      data:
        tag: redalert-ahsdod
  - service: notify.mobile_app_sm_n960f
    data:
      title: צבע אדום אשדוד
      message: '{{ state_attr("sensor.redalert", "current")["title"] }}'
      data:
        tag: redalert-ahsdod
  mode: single
- id: '1630053062911'
  alias: Red Alert Ashdod Clear
  description: ''
  trigger:
  - platform: state
    entity_id: binary_sensor.redalert_ashdod
    to: 'off'
  condition: []
  action:
  - service: notify.mobile_app_iphonedima
    data:
      message: clear_notification
      data:
        tag: redalert-ahsdod
  mode: single
- id: '1630053159448'
  alias: Red Alert Qiryat Gat
  description: ''
  trigger:
  - platform: state
    entity_id: binary_sensor.redalert_qiryat_gat
    to: 'on'
  condition: []
  action:
  - service: notify.mobile_app_iphonedima
    data:
      title: צבע אדום קריית גת
      message: '{{ state_attr("sensor.redalert", "current")["title"] }}'
      data:
        tag: redalert-qiryat-gat
  mode: single
- id: '1630053201927'
  alias: Red Alert Qiryat Gat Clear
  description: ''
  trigger:
  - platform: state
    entity_id: binary_sensor.redalert_qiryat_gat
    to: 'off'
  condition: []
  action:
  - service: notify.mobile_app_iphonedima
    data:
      message: clear_notification
      data:
        tag: redalert-qiryat-gat
  mode: single
- id: '1630053311360'
  alias: Red Alert All
  description: ''
  trigger:
  - platform: state
    entity_id: binary_sensor.redalert_all
    to: 'on'
  condition: []
  action:
  - service: notify.mobile_app_iphonedima
    data:
      title: צבע אדום
      message: '{{ state_attr("sensor.redalert", "current")["title"] }}'
      data:
        tag: redalert-all
  mode: single
- id: '1630053381000'
  alias: Red Alert All Clear
  description: ''
  trigger:
  - platform: state
    entity_id: binary_sensor.redalert_all
    to: 'off'
  condition: []
  action:
  - service: notify.mobile_app_iphonedima
    data:
      message: clear_notification
      data:
        tag: redalert-all
  mode: single
- id: '1630053607872'
  alias: Galit Home
  description: ''
  trigger:
  - platform: zone
    entity_id: person.galit
    zone: zone.home
    event: enter
  condition: []
  action:
  - service: notify.mobile_app_iphonedima
    data:
      title: Linka
      message: Almost home
  mode: single
- id: '1630054621160'
  alias: Nobody Home
  description: ''
  trigger:
  - platform: state
    entity_id: group.home_residents
    from: home
    to: not_home
    for:
      hours: 0
      minutes: 20
      seconds: 0
  condition: []
  action:
  - service: notify.mobile_app_iphonedima
    data:
      title: Home
      message: Nobody home
  mode: single
- id: '1630055051716'
  alias: Kids Radiator ON Notification
  description: ''
  trigger:
  - platform: state
    entity_id: switch.kids_radiator
    from: 'off'
    to: 'on'
  condition: []
  action:
  - service: notify.mobile_app_iphonedima
    data:
      title: Kids Radiator
      message: 'On'
      data:
        actions:
        - action: KIDS_RADIATOR_OFF
          title: 'Off'
  mode: single
- id: '1630055310744'
  alias: Kids Radiator OFF Notification
  description: ''
  trigger:
  - platform: state
    entity_id: switch.kids_radiator
    from: 'on'
    to: 'off'
  condition: []
  action:
  - service: notify.mobile_app_iphonedima
    data:
      title: Kids Radiator
      message: 'Off'
      data:
        actions:
        - action: KIDS_RADIATOR_ON
          title: 'On'
  mode: single
- id: '1630055491352'
  alias: Kids Radiator OFF Action
  description: ''
  trigger:
  - platform: event
    event_type: mobile_app_notification_action
    event_data:
      action: KIDS_RADIATOR_OFF
  condition:
  - condition: state
    entity_id: switch.kids_radiator
    state: 'on'
  action:
  - service: switch.turn_off
    target:
      entity_id: switch.kids_radiator
  mode: single
- id: '1630055553920'
  alias: Kids Radiator ON Action
  description: ''
  trigger:
  - platform: event
    event_type: mobile_app_notification_action
    event_data:
      action: KIDS_RADIATOR_ON
  condition:
  - condition: state
    entity_id: switch.kids_radiator
    state: 'off'
  action:
  - service: switch.turn_on
    target:
      entity_id: switch.kids_radiator
  mode: single
- id: '1630056048064'
  alias: Printer Black Ink Low
  description: ''
  trigger:
  - platform: numeric_state
    entity_id: sensor.mfc_j650dw_black_ink_remaining
    below: '11'
  condition: []
  action:
  - service: notify.persistent_notification
    data:
      title: Printer
      message: Black ink is {{ states('sensor.mfc_j650dw_black_ink_remaining') }}%.
  mode: single
- id: '1630056101296'
  alias: Printer Cyan Ink Low
  description: ''
  trigger:
  - platform: numeric_state
    entity_id: sensor.mfc_j650dw_cyan_ink_remaining
    below: '11'
  condition: []
  action:
  - service: notify.persistent_notification
    data:
      title: Printer
      message: Black ink is {{ states('sensor.mfc_j650dw_cyan_ink_remaining') }}%.
  mode: single
- id: '1630056134351'
  alias: Printer Magenta Ink Low
  description: ''
  trigger:
  - platform: numeric_state
    entity_id: sensor.mfc_j650dw_magenta_ink_remaining
    below: '11'
  condition: []
  action:
  - service: notify.persistent_notification
    data:
      title: Printer
      message: Black ink is {{ states('sensor.mfc_j650dw_magenta_ink_remaining') }}%.
  mode: single
- id: '1630056151569'
  alias: Printer Yellow Ink Low
  description: ''
  trigger:
  - platform: numeric_state
    entity_id: sensor.mfc_j650dw_yellow_ink_remaining
    below: '11'
  condition: []
  action:
  - service: notify.persistent_notification
    data:
      title: Printer
      message: Black ink is {{ states('sensor.mfc_j650dw_yellow_ink_remaining') }}%.
  mode: single
- id: '1630059227890'
  alias: Dima Arrived to Office
  description: ''
  trigger:
  - platform: zone
    entity_id: person.dmatik
    zone: zone.work
    event: enter
  condition: []
  action:
  - service: script.dima_arrived_to_office_event
    data: {}
  - service: notify.mobile_app_iphonedima
    data:
      message: Arrived to office
      title: Dima
  mode: single
- id: '1630059304209'
  alias: Dima Left Office
  description: ''
  trigger:
  - platform: zone
    entity_id: person.dmatik
    zone: zone.work
    event: leave
  condition: []
  action:
  - service: script.dima_left_office_event
    data: {}
  - service: notify.mobile_app_iphonedima
    data:
      title: Dima
      message: Left office
  mode: single
- id: '1631013670699'
  alias: Kitchen Strips Buttons
  description: ''
  trigger:
  - platform: event
    event_type: xiaomi_aqara.click
    event_data:
      entity_id: binary_sensor.button_kitchen_strip_left
      click_type: single
  - platform: event
    event_type: xiaomi_aqara.click
    event_data:
      entity_id: binary_sensor.button_kitchen_strip_right
      click_type: single
  condition: []
  action:
  - service: light.toggle
    target:
      entity_id: light.kitchen_strips
  mode: single
- id: '1631014903135'
  alias: Makeup Button
  description: ''
  trigger:
  - platform: event
    event_type: xiaomi_aqara.click
    event_data:
      entity_id: binary_sensor.button_makeup
      click_type: single
  condition: []
  action:
  - service: switch.toggle
    target:
      entity_id: switch.makeup
  mode: single
- id: '1631015281400'
  alias: Bedside Galit Button
  description: ''
  trigger:
  - platform: event
    event_type: xiaomi_aqara.click
    event_data:
      entity_id: binary_sensor.button_bedside_galit
      click_type: single
  condition: []
  action:
  - service: light.toggle
    target:
      entity_id: light.bedside_galit
  mode: single
- id: '1631015652736'
  alias: Bedside Dima Button
  description: ''
  trigger:
  - platform: event
    event_type: xiaomi_aqara.click
    event_data:
      entity_id: binary_sensor.button_bedside_dima
      click_type: single
  condition: []
  action:
  - service: light.toggle
    target:
      entity_id: light.bedside_dima
  mode: single
- id: '1634030939721'
  alias: Front Gate Action
  description: ''
  trigger:
  - platform: event
    event_type: shortcut_event
    event_data:
      actionName: front_gate
  condition: []
  action:
  - service: script.open_parking_gate_74
  mode: single
- id: '1634031580769'
  alias: Back Gate Action
  description: ''
  trigger:
  - platform: event
    event_type: shortcut_event
    event_data:
      actionName: back_gate
  condition: []
  action:
  - service: script.open_parking_gate_72
  mode: single
- id: '1651849804441'
  alias: Update Notifications
  description: ''
  use_blueprint:
    path: mdegat01/update_notifications.yaml
    input:
      reminder_hours: '3'
      update_entities:
      - update.blaze_dsm_update
      - update.zeg_dsm_update
      - update.bedroom_update_available
      - update.kids_room_update_available
      - update.living_room_update_available
      mobile_app_device: b8bfbfe5b468a685dd2cc07f662069ee
      send_to_ha: true
      take_backup: true
