homeassistant:
  # Name of the location where Home Assistant is running
  name: Trosman
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 0
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: !secret time_zone
  # Customization file
  customize: !include customize.yaml

  internal_url: !secret internal_url
  external_url: !secret external_url

  allowlist_external_dirs:
    - /config/www

  packages: !include_dir_named packages/

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - !secret synology_zeg_host

# zeroconf:
#   default_interface: true
  
frontend:
  themes: 
    !include_dir_merge_named themes
  extra_module_url:
    - /hacsfiles/lovelace-card-mod/card-mod.js

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Text to speech
tts:
  - platform: google_translate


automation manual: !include_dir_merge_list automation/
automation ui: !include automations.yaml
scene: !include scenes.yaml

#lovelace_gen:

browser_mod:
  disable:
    - all

lovelace:
  mode: yaml
  resources: !include /config/resources.yaml
  dashboards:
    # lovelace-system:
    #   mode: yaml
    #   filename: ui-system.yaml
    #   title: "System"
    #   icon: mdi:view-dashboard
    #   show_in_sidebar: true
    #   require_admin: false
    lovelace-wallpanel:
      mode: yaml
      filename: ui-wallpanel.yaml
      title: "Wall Panel"
      icon: mdi:view-dashboard
      show_in_sidebar: false
      require_admin: false
    # lovelace-minimalist:
    #   mode: yaml
    #   title: Minimalist
    #   icon: mdi:view-dashboard
    #   show_in_sidebar: true
    #   filename: ui-minimalist.yaml
    # lovelace-homekit:
    #   mode: yaml
    #   title: Homekit
    #   icon: mdi:view-dashboard
    #   show_in_sidebar: true
    #   filename: ui-homekit.yaml

#Recorder
recorder:
  auto_purge: true
  purge_keep_days: 5
  db_url: !secret synology_db_connection
  # include:
  #   domains:
  #     - switch
  #     - sensor
  #     - person
  #     - input_select
  #     - input_number
  #     - input_boolean
  #     - script
  #     - light
  #     - climate
  #     - binary_sensor
  #     - group
  # exclude:
  #   domains:
  #     - automation
  #     - updater
  #     - docker_monitor
  #     - image_processing
  #   entities:
  #     - sun.sun
  #     - sensor.date
  #   event_types:
  #     - service_removed
  #     - service_executed
  #     - platform_discovered
  #     - homeassistant_start
  #     - homeassistant_stop      
  #     - feedreader
  #     - service_registered
  #     - call_service
  #     - component_loaded
  #     - logbook_entry
  #     - system_log_event
  #     - automation_triggered
  #     - script_started
  #     - timer_out_of_sync
  #     - panels_updated
  #     - persistent_notifications_updated
  #     - config_entry_discovered
  
#Logger
logger:
  default: info
  # logs:
  #   custom_components.hacs: debug
  #   hacs: debug
  #   queueman: debug
  #   AIOGitHubAPI: debug

# Google    
# google:
#   client_id: !secret google_calendar_client_id
#   client_secret: !secret google_calendar_client_secret

# MQTT
# mqtt:
#   discovery: false
#   broker: !secret syn_mqtt_broker
#   username: !secret syn_mqtt_username
#   password: !secret syn_mqtt_password
  
# Sensibo
# climate:
#   - platform: sensibo
#     api_key: !secret sensibo_api_key
    
#Telegram      
telegram_bot:
  - platform: polling
    api_key: !secret telegram_bot_api_key
    allowed_chat_ids:
      - !secret telegram_bot_chat_id_1
  
notify:
  - name: DimaTelegram
    platform: telegram
    chat_id: !secret telegram_bot_chat_id_1


# Life360
# life360:
#   accounts:
#     - username: !secret life360_username
#       password: !secret life360_password
#   # MPH, assuming imperial units.
#   # If using metric (KPH), the equivalent would be 29.
#   driving_speed: 29
#   interval_seconds: 10
#   max_gps_accuracy: 200
#   max_update_wait:
#     minutes: 45
#   show_as_state:
#     - driving
#   # Set comm error thresholds so first is not logged,
#   # second is logged as a WARNING, and third and fourth
#   # are logged as ERRORs.
#   warning_threshold: 2
#   error_threshold: 3

wake_on_lan:

# synology_dsm:
#   - host: !secret synology_blaze_host
#     port: !secret synology_blaze_port
#     username: !secret synology_blaze_username
#     password: !secret synology_blaze_password
#     ssl: true
#   - host: !secret synology_zeg_host
#     port: !secret synology_zeg_port
#     username: !secret synology_zeg_username
#     password: !secret synology_zeg_password
#     ssl: true


# spotify:
#   client_id: !secret spotify_client_id
#   client_secret: !secret spotify_client_secret

# homekit:
#   - filter:
#       include_entities:

#         # Work Room Temperature Sensor
#         - sensor.work_room_humidity
#         - sensor.work_room_pressure
#         - sensor.work_room_temperature
#         - sensor.work_room_sensor_battery_level

#         # Living Room Motion Sensor
#         - binary_sensor.motion_living_room
#         - sensor.motion_living_room_lightlevel
#         - sensor.motion_living_room_battery_level

#         # Kitchen Motion Sensor
#         - binary_sensor.motion_kitchen
#         - sensor.motion_kitchen_lightlevel
#         - sensor.motion_kitchen_battery_level
#         - binary_sensor.motion_kitchen_2
#         - sensor.motion_kitchen_2_lightlevel
#         - sensor.motion_kitchen_2_battery_level

camera: