title: Wall Panel

# kiosk_mode:
#   kiosk: true

button_card_templates: !include_dir_merge_named lovelace_tiles/templates/
   
#background: var(--background-image)

views:

    # Main
    - !include /config/lovelace_tiles/views_wallpanel/view_home.yaml
    - !include /config/lovelace_tiles/views_wallpanel/view_lights.yaml
    - !include /config/lovelace_tiles/views_wallpanel/view_climate.yaml
    - !include /config/lovelace_tiles/views_wallpanel/view_covers.yaml
    - !include /config/lovelace_tiles/views_wallpanel/view_security.yaml
    - !include /config/lovelace_tiles/views_wallpanel/view_presence.yaml
    - !include /config/lovelace_tiles/views_wallpanel/view_media.yaml