template:

  binary_sensor:

    ############################################################################
    #                                                                          #
    #   Redalert All                                                           #
    #                                                                          #
    ############################################################################

    - default_entity_id: binary_sensor.redalert_all
      name: "Redalert All"
      state: >-
        {{ state_attr('sensor.redalert', 'alert') == true }}  

    ############################################################################
    #                                                                          #
    #   Redalert Qiryat Gat                                                    #
    #                                                                          #
    ############################################################################
    
    - default_entity_id: binary_sensor.redalert_qiryat_gat
      name: "Redalert Qiryat Gat"
      state: >-
          {{ state_attr('sensor.redalert', 'alert') == true and 
                    'קריית גת, כרמי גת' in state_attr('sensor.redalert', 'current')['data'] }}

    ############################################################################
    #                                                                          #
    #   Redalert Gan Yavne                                                     #
    #                                                                          #
    ############################################################################
    
    - default_entity_id: binary_sensor.redalert_gan_yavne
      name: "Redalert Gan Yavne"
      state: >-
          {{ state_attr('sensor.redalert', 'alert') == true and 
                    'גן יבנה' in state_attr('sensor.redalert', 'current')['data'] }}


    ############################################################################
    #                                                                          #
    #   Redalert All Israel                                                    #
    #                                                                          #
    ############################################################################
    
    - default_entity_id: binary_sensor.redalert_all_israel
      name: "Redalert All Israel"
      state: >-
          {{ state_attr('sensor.redalert', 'alert') == true and 
                    'ברחבי הארץ' in state_attr('sensor.redalert', 'current')['data'] }}

    ############################################################################
    #                                                                          #
    #   Redalert Bitsron                                                       #
    #                                                                          #
    ############################################################################
    
    - default_entity_id: binary_sensor.redalert_bitsron
      name: "Redalert Bitsron"
      state: >-
          {{ state_attr('sensor.redalert', 'alert') == true and 
                    'ביצרון' in state_attr('sensor.redalert', 'current')['data'] }}

    ############################################################################
    #                                                                          #
    #   Redalert Shtulim                                                       #
    #                                                                          #
    ############################################################################
    
    - default_entity_id: binary_sensor.redalert_shtulim
      name: "Redalert Shtulim"
      state: >-
          {{ state_attr('sensor.redalert', 'alert') == true and 
                    'שתולים' in state_attr('sensor.redalert', 'current')['data'] }}

    ############################################################################
    #                                                                          #
    #   Redalert Hatsor                                                        #
    #                                                                          #
    ############################################################################
    
    - default_entity_id: binary_sensor.redalert_hatsor
      name: "Redalert Hatsor"
      state: >-
          {{ state_attr('sensor.redalert', 'alert') == true and 
                    'חצור' in state_attr('sensor.redalert', 'current')['data'] }}

    ############################################################################
    #                                                                          #
    #   Redalert Ashdod                                                        #
    #                                                                          #
    ############################################################################
    
    - default_entity_id: binary_sensor.redalert_ashdod
      name: "Redalert Ashdod"
      state: >-
          {{ state_attr('sensor.redalert', 'alert') == true and 
                    ('אשדוד - א,ב,ד,ה' in state_attr('sensor.redalert', 'current')['data'] or
                     'אשדוד - איזור תעשייה צפוני' in state_attr('sensor.redalert', 'current')['data'] or
                     'אשדוד - ג,ו,ז' in state_attr('sensor.redalert', 'current')['data'] or
                     'אשדוד - ח,ט,י,יג,יד,טז' in state_attr('sensor.redalert', 'current')['data'] or
                     'אשדוד -יא,יב,טו,יז,מרינה,סיט' in state_attr('sensor.redalert', 'current')['data'] ) }}

    ############################################################################
    #                                                                          #
    #   Redalert Test                                                          #
    #                                                                          #
    ############################################################################
    
    - default_entity_id: binary_sensor.redalert_test
      name: "Redalert Test"
      state: >-
          {{ state_attr('sensor.redalert', 'alert') == true and 
                    'בדיקה' in state_attr('sensor.redalert', 'current')['data'] }}
