sensor:

############################################################################
#                                                                          #
#   Redalert Current                                                       #
#                                                                          #
############################################################################

  # - platform: rest
  #   resource: https://www.oref.org.il/WarningMessages/alert/alerts.json
  #   name: redalert
  #   value_template: 'OK'
  #   json_attributes:
  #     - alertDate
  #     - title
  #     - data
  #   scan_interval: 5
  #   headers:
  #     Accept: application/json
  #     Content-Type: application/json
  #     x-requested-with: XMLHttpRequest
  #     Referer: https://www.oref.org.il//12481-he/Pakar.aspx


  - platform: rest
    resource: http://10.0.0.30:49100/current
    name: redalert
    value_template: 'OK'
    json_attributes:
      - alert
      - current
    scan_interval: 5
    timeout: 30



############################################################################
#                                                                          #
#   Redalert History                                                       #
#                                                                          #
############################################################################

  - platform: rest
    resource: http://10.0.0.30:49100/history
    name: redalert_history
    value_template: 'OK'
    json_attributes:
      - "history"
    scan_interval: 120
    timeout: 30



############################################################################
#                                                                          #
#   Redalert History Count                                                 #
#                                                                          #
############################################################################

  - platform: template
    sensors:
      redalert_history_count:
        friendly_name: "Red Alert History Count"
        value_template: >-
          {% set count = namespace(value=0) %}
          {% for alarm in state_attr('sensor.redalert_history', 'history') %}
            {% set count.value = count.value + 1 %}
          {% endfor %}
          {{ count.value }}

