chip_back_new:
  template: 
    - 'chip_icon_label_state'
    - 'chip_navigate_only'
  icon: "mdi:arrow-left"

chip_icon_label_state:
  # variables:
  #   ulm_chip_icon_state_entity: ''
  triggers_update: 'all'
  show_icon: 'true'
  show_name: 'false'
  show_label: 'true'
  size: '100%'
  styles:
    card:
      - box-shadow: 'var(--box-shadow)'
      - border-radius: '18px'
      - height: '36px'
      - width: 'auto'
      - padding-left: '8px'
      - padding-right: '8px'
      - padding-top: '0px'
      - padding-bottom: '0px'
    grid:
      - grid-template-areas: "'i l'"
      - grid-template-columns: 'max_content auto'
      - grid-template-rows: 'min-content'
    img_cell:
      - display: flex
      - justify-content: center
      - align-items: center    
      #- place-self: 'center'
      - width: '20px'
      - height: '36px'
      - padding-right: '0px'
      - padding-left: '0px'
    icon:
      - display: flex
      - justify-content: center
      - align-items: center      
    label:
      - display: flex
      - justify-content: center
      - align-items: center
      - justify-self: 'center'
      - font-weight: 500
      - font-size: '16px'
      - margin-left: '0px'
      - width: 'auto'
      - padding-left: '2px'
      - padding-right: '2px'
      - height: '36px'
      - width: 'auto'      
  label: |
      [[[
        var state = "";
        if (variables.ulm_chip_icon_state_entity != null && states[variables.ulm_chip_icon_state_entity].state){
          var state = states[variables.ulm_chip_icon_state_entity].state;
          if (states[variables.ulm_chip_icon_state_entity].attributes.unit_of_measurement){
            state += states[variables.ulm_chip_icon_state_entity].attributes.unit_of_measurement;
          }
        }
        return state;
      ]]]
  state:
    - operator: "template"
      value: '[[[ return variables.ulm_chip_icon_state_entity == null || states[variables.ulm_chip_icon_state_entity].state == 0 ]]]'
      styles:
        label:
          - display: 'none'

chip_navigate_only:
  tap_action:
    action: 'navigate'
    navigation_path: '[[[ return variables.ulm_chip_navigate_path; ]]]'

chip_yellow:
  state:
    - operator: "template"
      value: '[[[ return states[variables.ulm_chip_icon_state_entity].state > 0 ]]]'
      styles:
        icon:
          - color: 'rgba(var(--color-yellow),1)'

chip_blue:
  state:
    - operator: "template"
      value: '[[[ return states[variables.ulm_chip_icon_state_entity].state > 0 ]]]'
      styles:
        icon:
          - color: 'rgba(var(--color-blue),1)'