############################################################################
#                                                                          #
#   Kfir AC Notification                                                   #
#                                                                          #
############################################################################

- alias: 'Kfir AC Notification'
  initial_state: 'true'
  trigger:
    - trigger: state
      entity_id: climate.kfir
      from: "off"
      to: "cool"
    - trigger: state
      entity_id: climate.kfir
      from: "off"
      to: "heat"
    - trigger: state
      entity_id: climate.kfir
      from: "off"
      to: "heat_cool"
    - trigger: state
      entity_id: climate.kfir
      from: "cool"
      to: "off"
    - trigger: state
      entity_id: climate.kfir
      from: "heat"
      to: "off"
    - trigger: state
      entity_id: climate.kfir
      from: "heat_cool"
      to: "off"
  action:
    - service: notify.mobile_app_iphonedima
      data_template:
        title: 'Kfir AC' 
        message: >-
          {% if trigger.to_state.state == 'cool' %}
            Cooling to {{ state_attr('climate.kfir', 'temperature') }}°C
          {% elif trigger.to_state.state == 'heat' %}      
            Heating to {{ state_attr('climate.kfir', 'temperature') }}°C
          {% elif trigger.to_state.state == 'heat_cool' %}      
            Auto to {{ state_attr('climate.kfir', 'temperature') }}°C
          {% else %}
            Off
          {% endif %}



############################################################################
#                                                                          #
#   Ronen AC Notification                                                  #
#                                                                          #
############################################################################

- alias: 'Ronen AC Notification'
  initial_state: 'true'
  trigger:
    - trigger: state
      entity_id: climate.ronen
      from: "off"
      to: "cool"
    - trigger: state
      entity_id: climate.ronen
      from: "off"
      to: "heat"
    - trigger: state
      entity_id: climate.ronen
      from: "off"
      to: "heat_cool"
    - trigger: state
      entity_id: climate.ronen
      from: "cool"
      to: "off"
    - trigger: state
      entity_id: climate.ronen
      from: "heat"
      to: "off"
    - trigger: state
      entity_id: climate.ronen
      from: "heat_cool"
      to: "off"
  action:
    - service: notify.mobile_app_iphonedima
      data_template:
        title: 'Ronen AC' 
        message: >-
          {% if trigger.to_state.state == 'cool' %}
            Cooling to {{ state_attr('climate.ronen', 'temperature') }}°C
          {% elif trigger.to_state.state == 'heat' %}      
            Heating to {{ state_attr('climate.ronen', 'temperature') }}°C
          {% elif trigger.to_state.state == 'heat_cool' %}      
            Auto to {{ state_attr('climate.ronen', 'temperature') }}°C
          {% else %}
            Off
          {% endif %}



############################################################################
#                                                                          #
#   Basement AC Notification                                               #
#                                                                          #
############################################################################

- alias: 'Basement AC Notification'
  initial_state: 'true'
  trigger:
    - trigger: state
      entity_id: climate.basement
      from: "off"
      to: "cool"
    - trigger: state
      entity_id: climate.basement
      from: "off"
      to: "heat"
    - trigger: state
      entity_id: climate.basement
      from: "off"
      to: "heat_cool"
    - trigger: state
      entity_id: climate.basement
      from: "cool"
      to: "off"
    - trigger: state
      entity_id: climate.basement
      from: "heat"
      to: "off"
    - trigger: state
      entity_id: climate.basement
      from: "heat_cool"
      to: "off"
  action:
    - service: notify.mobile_app_iphonedima
      data_template:
        title: 'Basement AC' 
        message: >-
          {% if trigger.to_state.state == 'cool' %}
            Cooling to {{ state_attr('climate.basement', 'temperature') }}°C
          {% elif trigger.to_state.state == 'heat' %}      
            Heating to {{ state_attr('climate.basement', 'temperature') }}°C
          {% elif trigger.to_state.state == 'heat_cool' %}      
            Auto to {{ state_attr('climate.basement', 'temperature') }}°C
          {% else %}
            Off
          {% endif %}



############################################################################
#                                                                          #
#   Bedroom AC Notification                                                #
#                                                                          #
############################################################################

- alias: 'Bedroom AC Notification'
  initial_state: 'true'
  trigger:
    - trigger: state
      entity_id: climate.bedroom
      from: "off"
      to: "cool"
    - trigger: state
      entity_id: climate.bedroom
      from: "off"
      to: "heat"
    - trigger: state
      entity_id: climate.bedroom
      from: "off"
      to: "heat_cool"
    - trigger: state
      entity_id: climate.bedroom
      from: "cool"
      to: "off"
    - trigger: state
      entity_id: climate.bedroom
      from: "heat"
      to: "off"
    - trigger: state
      entity_id: climate.bedroom
      from: "heat_cool"
      to: "off"
  action:
    - service: notify.mobile_app_iphonedima
      data_template:
        title: 'Bedroom AC' 
        message: >-
          {% if trigger.to_state.state == 'cool' %}
            Cooling to {{ state_attr('climate.bedroom', 'temperature') }}°C
          {% elif trigger.to_state.state == 'heat' %}      
            Heating to {{ state_attr('climate.bedroom', 'temperature') }}°C
          {% elif trigger.to_state.state == 'heat_cool' %}      
            Auto to {{ state_attr('climate.bedroom', 'temperature') }}°C
          {% else %}
            Off
          {% endif %}



############################################################################
#                                                                          #
#   Living Room AC Notification                                            #
#                                                                          #
############################################################################

- alias: 'Living Room AC Notification'
  initial_state: 'true'
  trigger:
    - trigger: state
      entity_id: climate.living_room
      from: "off"
      to: "cool"
    - trigger: state
      entity_id: climate.living_room
      from: "off"
      to: "heat"
    - trigger: state
      entity_id: climate.living_room
      from: "off"
      to: "heat_cool"
    - trigger: state
      entity_id: climate.living_room
      from: "cool"
      to: "off"
    - trigger: state
      entity_id: climate.living_room
      from: "heat"
      to: "off"
    - trigger: state
      entity_id: climate.living_room
      from: "heat_cool"
      to: "off"
  action:
    - service: notify.mobile_app_iphonedima
      data_template:
        title: 'Living Room AC' 
        message: >-
          {% if trigger.to_state.state == 'cool' %}
            Cooling to {{ state_attr('climate.living_room', 'temperature') }}°C
          {% elif trigger.to_state.state == 'heat' %}      
            Heating to {{ state_attr('climate.living_room', 'temperature') }}°C
          {% elif trigger.to_state.state == 'heat_cool' %}      
            Auto to {{ state_attr('climate.living_room', 'temperature') }}°C
          {% else %}
            Off
          {% endif %}
