############################################################################
#                                                                          #
#   HA Update Available Notification                                       #
#                                                                          #
############################################################################

- id: ha_update_notification
  alias: HA Update Available Notification
  trigger:
    - platform: state
      entity_id: binary_sensor.docker_hub_update_available
      to: 'on'
    - platform: time_pattern
      hours: '/2'
      minutes: 0
      seconds: 0
  condition:
    - condition: state
      entity_id: binary_sensor.docker_hub_update_available
      state: 'on'
  action:
    #- service: notify.dimatelegram
    - service: notify.mobile_app_iphonedima
      data_template:
        title: "New Version"
        message: |
          Home Assistant {{ states('sensor.docker_hub') }} is available.
          Current: {{ states('sensor.ha_current_version') }}.
        data:
          actions:
            - action: "URI"
              title: "Release Notes"
              uri: "https://www.home-assistant.io/latest-release-notes/"
    - service: persistent_notification.create
      data:
        message: |
          Home Assistant {{ states('sensor.docker_hub') }} is available.
          Current: {{ states('sensor.ha_current_version') }}.

          [More](/lovelace/minimalist_homeassistant)
        title: "New Version"
        notification_id: "10001"


- id: ha_update_notification_dismiss
  alias: HA Update Available Notification Dismiss
  trigger:
    - platform: state
      entity_id: binary_sensor.docker_hub_update_available
      to: 'off'
  action:
    service: persistent_notification.dismiss
    data:
      notification_id: "10001"



############################################################################
#                                                                          #
#   HACS Updates Notification                                              #
#                                                                          #
############################################################################

- id: hacs_updates_notification
  alias: HACS Updates Notification
  trigger:
    - platform: state
      entity_id: sensor.hacs
    - platform: time_pattern
      hours: '/2'
      minutes: 0
      seconds: 0
  condition:
    - condition: template
      value_template: "{{ states('sensor.hacs') != 'unknown'}}"
    - condition: template
      value_template: "{{ (states('sensor.hacs') | float) != 0}}"
  action:
    #- service: notify.dimatelegram
    - service: notify.mobile_app_iphonedima
      data_template:
        title: Updates pending in HACS
        message: >-
          {% for repo in state_attr('sensor.hacs', 'repositories') %}
            {{ repo.display_name }}: {{ repo["installed_version"] }} -> {{ repo["available_version"] }}
          {% endfor %}
    - service: persistent_notification.create
      data:
        message: >-
          {% for repo in state_attr('sensor.hacs', 'repositories') %}
            {{ repo.display_name }}: {{ repo["installed_version"] }} -> {{ repo["available_version"] }}
          {% endfor %}

          [HACS](/hacs)
        title: "Updates pending in HACS"
        notification_id: "10002"


- id: hacs_updates_notification_dismiss
  alias: HACS Updates Notification Dismiss
  trigger:
    - platform: state
      entity_id: sensor.hacs
      to: '0'
  action:
    service: persistent_notification.dismiss
    data:
      notification_id: "10002"



############################################################################
#                                                                          #
#   Tasmota Updates Notification                                           #
#                                                                          #
############################################################################

- id: Tasmota_updates_notification
  alias: Tasmota Updates Notification
  trigger:
    - platform: state
      entity_id: sensor.number_of_tasmota_versions_old
      not_to: '0'
    - platform: time_pattern
      hours: '/2'
      minutes: 0
      seconds: 0
  condition:
    - condition: template
      value_template: "{{ states('sensor.number_of_tasmota_versions_old') != 'unknown' }}"
    - condition: template
      value_template: "{{ states('sensor.number_of_tasmota_versions_old') != '0' }}"
  action:
    #- service: notify.dimatelegram
    - service: notify.mobile_app_iphonedima
      data_template:
        title: "Tasmota device(s) outdated"
        message: |
          {{ states('sensor.number_of_tasmota_versions_old') }} Tasmota device(s) outdated.
    - service: persistent_notification.create
      data:
        message: |
          {{ states('sensor.number_of_tasmota_versions_old') }} Tasmota device(s) outdated.

          [More](/lovelace/minimalist_tasmota)
        title: "Tasmota device(s) outdated"
        notification_id: "10003"


- id: tasmota_updates_notification_dismiss
  alias: Tasmota Updates Notification Dismiss
  trigger:
    - platform: state
      entity_id: sensor.number_of_tasmota_versions_old
      to: '0'
  action:
    service: persistent_notification.dismiss
    data:
      notification_id: "10003"



############################################################################
#                                                                          #
#   ZEG Update Available Notification                                      #
#                                                                          #
############################################################################

- id: zeg_update_notification
  alias: ZEG Update Available Notification
  trigger:
    - platform: state
      entity_id: update.zeg_dsm_update
      to: 'on'
    - platform: time_pattern
      hours: '/2'
      minutes: 0
      seconds: 0
  condition:
    - condition: state
      entity_id: update.zeg_dsm_update
      state: 'on'
  action:
    #- service: notify.dimatelegram
    - service: notify.mobile_app_iphonedima
      data_template:
        title: "ZEG update available"
        message: |
          New version: {{ state_attr('update.zeg_dsm_update', 'latest_version') }}.
          Current: {{ state_attr('update.zeg_dsm_update', 'installed_version') }}.
    - service: persistent_notification.create
      data:
        message: |
          New version: {{ state_attr('update.zeg_dsm_update', 'latest_version') }}.
          Current: {{ state_attr('update.zeg_dsm_update', 'installed_version') }}.

          [More](/lovelace/minimalist_nas)
        title: "ZEG update available"
        notification_id: "10004"


- id: zeg_update_notification_dismiss
  alias: ZEG Update Available Notification Dismiss
  trigger:
    - platform: state
      entity_id: update.zeg_dsm_update
      to: 'off'
  action:
    service: persistent_notification.dismiss
    data:
      notification_id: "10004"



############################################################################
#                                                                          #
#   BLAZE Update Available Notification                                    #
#                                                                          #
############################################################################

- id: blaze_update_notification
  alias: BLAZE Update Available Notification
  trigger:
    - platform: state
      entity_id: update.blaze_dsm_update
      to: 'on'
    - platform: time_pattern
      hours: '/2'
      minutes: 0
      seconds: 0
  condition:
    - condition: state
      entity_id: update.blaze_dsm_update
      state: 'on'
  action:
    #- service: notify.dimatelegram
    - service: notify.mobile_app_iphonedima
      data_template:
        title: "BLAZE update available"
        message: |
          New version: {{ state_attr('update.blaze_dsm_update', 'latest_version') }}.
          Current: {{ state_attr('update.blaze_dsm_update', 'installed_version') }}.
    - service: persistent_notification.create
      data:
        message: |
          New version: {{ state_attr('update.blaze_dsm_update', 'latest_version') }}.
          Current: {{ state_attr('update.blaze_dsm_update', 'installed_version') }}.

          [More](/lovelace/minimalist_nas)
        title: "BLAZE update available"
        notification_id: "10005"


- id: blaze_update_notification_dismiss
  alias: BLAZE Update Available Notification Dismiss
  trigger:
    - platform: state
      entity_id: update.blaze_dsm_update
      to: 'off'
  action:
    service: persistent_notification.dismiss
    data:
      notification_id: "10005"