# - alias: 'Minutes Input Select synch'
#   initial_state: 'true'
#   trigger:
#     - platform: state
#       entity_id: input_select.switcher_timer_minutes_input_select
#     - platform: homeassistant
#       event: start
#   action:
#     - service: input_select.select_option
#       data_template:
#         entity_id: switcher_aio.timer_minutes_input_select
#         option: "{{ states('input_select.switcher_timer_minutes_input_select') }}"


############################################################################
#                                                                          #
#   Turn ON Notification                                                   #
#                                                                          #
############################################################################

- alias: 'Switcher Boiler ON Notification'
  initial_state: 'true'
  trigger:
    - trigger: state
      entity_id: switch.switcher_touch_d54f
      from: "off"
      to: "on"
  action:
    - wait_template: "{{ not is_state('sensor.switcher_kis_auto_off_time', 'off') }}"
    # - service: notify.dimatelegram
    #   data_template:
    #     title: 'Boiler'
    #     message: "ON\nAuto off {{ states('sensor.switcher_kis_auto_off_time') }}."

    - service: notify.mobile_app_iphonedima
      data:
        title: "Boiler"
        message: "On until {{ states('sensor.switcher_kis_auto_off_time') }}"
        data:
          actions:
            - action: "SWITCHER_BOILER_OFF"
              title: "Off"
    - service: mqtt.publish
      data:
        qos: 0
        retain: false
        topic: "ulanzi_living_room/notify"
        payload: |-
          {   
            "text": "ON until {{ states('sensor.switcher_kis_auto_off_time') }}",
            "icon": "48802",
            "textCase": "0",
            "pushIcon": "2",              
            "hold": false,
            "duration": "15"
          }
    - service: mqtt.publish
      data:
        qos: 0
        retain: false
        topic: "ulanzi_living_room/indicator1"
        payload: |-
          {   
            "color": [255,0,0],
            "blink": false
          }

############################################################################
#                                                                          #
#   Turn Off Action                                                        #
#                                                                          #
############################################################################

- alias: Action Switcher Boiler Off
  initial_state: 'true'
  trigger:
    - trigger: event
      event_type: mobile_app_notification_action
      event_data:
        action: "SWITCHER_BOILER_OFF"
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: switch.switcher_touch_d54f
        state: "on"
  action:
    - service: switch.turn_off
      data:
        entity_id: switch.switcher_touch_d54f



############################################################################
#                                                                          #
#   Turn OFF Notification                                                  #
#                                                                          #
############################################################################

- alias: 'Switcher Boiler OFF Notification'
  initial_state: 'true'
  trigger:
    - trigger: state
      entity_id: switch.switcher_touch_d54f
      from: "on"
      to: "off"
  action:
    - wait_template: "{{ is_state('sensor.switcher_kis_auto_off_time', 'off') }}"
    # - service: notify.dimatelegram
    #   data_template:
    #     title: 'Boiler'
    #     message: "OFF"
    - service: notify.mobile_app_iphonedima
      data:
        title: "Boiler"
        message: "Off"
        data:
          actions:
            - action: "SWITCHER_BOILER_ON_30"
              title: "On 30 min"
            - action: "SWITCHER_BOILER_ON_60"
              title: "On 60 min"
    - service: mqtt.publish
      data:
        qos: 0
        retain: false
        topic: "ulanzi_living_room/notify"
        payload: |-
          {   
            "text": "OFF",
            "icon": "48802",
            "textCase": "0",
            "pushIcon": "2",              
            "hold": false,
            "duration": "15"
          }
    - service: mqtt.publish
      data:
        qos: 0
        retain: false
        topic: "ulanzi_living_room/indicator1"
        payload: |-
          {   
            "color": [0,0,0],
            "blink": false
          }


############################################################################
#                                                                          #
#   Turn On for 15 min Action                                              #
#                                                                          #
############################################################################

- alias: Action Switcher Boiler On 15 Min
  initial_state: 'true'
  trigger:
    - trigger: event
      event_type: mobile_app_notification_action
      event_data:
        action: "SWITCHER_BOILER_ON_15"
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: switch.switcher_touch_d54f
        state: "off"
  actions:
    - action: switcher_kis.turn_on_with_timer
      data:
        timer_minutes: 15
      target:
        entity_id: switch.switcher_touch_d54f
    # - service: rest_command.switcher_turn_on_timer
    #   data_template:
    #     switcher_web_api_ip: !secret switcher_web_api_ip
    #     switcher_web_api_port: !secret switcher_web_api_port
    #     switcher_device_id: !secret switcher_boiler_device_id
    #     switcher_ip: !secret switcher_boiler_local_ip_addr
    #     minutes: '15'
    # - service: homeassistant.update_entity
    #   entity_id: sensor.switcher_boiler


############################################################################
#                                                                          #
#   Turn On for 30 min Action                                              #
#                                                                          #
############################################################################

- alias: Action Switcher Boiler On 30 Min
  initial_state: 'true'
  trigger:
    - trigger: event
      event_type: mobile_app_notification_action
      event_data:
        action: "SWITCHER_BOILER_ON_30"
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: switch.switcher_touch_d54f
        state: "off"
  actions:
    - action: switcher_kis.turn_on_with_timer
      data:
        timer_minutes: 30
      target:
        entity_id: switch.switcher_touch_d54f
    # - service: rest_command.switcher_turn_on_timer
    #   data_template:
    #     switcher_web_api_ip: !secret switcher_web_api_ip
    #     switcher_web_api_port: !secret switcher_web_api_port
    #     switcher_device_id: !secret switcher_boiler_device_id
    #     switcher_ip: !secret switcher_boiler_local_ip_addr
    #     minutes: '30'
    # - service: homeassistant.update_entity
    #   entity_id: sensor.switcher_boiler


############################################################################
#                                                                          #
#   Turn On for 45 min Action                                              #
#                                                                          #
############################################################################

- alias: Action Switcher Boiler On 45 Min
  initial_state: 'true'
  trigger:
    - trigger: event
      event_type: mobile_app_notification_action
      event_data:
        action: "SWITCHER_BOILER_ON_45"
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: switch.switcher_touch_d54f
        state: "off"
  actions:
    - action: switcher_kis.turn_on_with_timer
      data:
        timer_minutes: 45
      target:
        entity_id: switch.switcher_touch_d54f
    # - service: rest_command.switcher_turn_on_timer
    #   data_template:
    #     switcher_web_api_ip: !secret switcher_web_api_ip
    #     switcher_web_api_port: !secret switcher_web_api_port
    #     switcher_device_id: !secret switcher_boiler_device_id
    #     switcher_ip: !secret switcher_boiler_local_ip_addr
    #     minutes: '45'
    # - service: homeassistant.update_entity
    #   entity_id: sensor.switcher_boiler


############################################################################
#                                                                          #
#   Turn On for 60 min Action                                              #
#                                                                          #
############################################################################

- alias: Action Switcher Boiler On 60 Min
  initial_state: 'true'
  trigger:
    - trigger: event
      event_type: mobile_app_notification_action
      event_data:
        action: "SWITCHER_BOILER_ON_60"
  condition:
    condition: and
    conditions:
      - condition: state
        entity_id: switch.switcher_touch_d54f
        state: "off"
  actions:
    - action: switcher_kis.turn_on_with_timer
      data:
        timer_minutes: 60
      target:
        entity_id: switch.switcher_touch_d54f
    # - service: rest_command.switcher_turn_on_timer
    #   data_template:
    #     switcher_web_api_ip: !secret switcher_web_api_ip
    #     switcher_web_api_port: !secret switcher_web_api_port
    #     switcher_device_id: !secret switcher_boiler_device_id
    #     switcher_ip: !secret switcher_boiler_local_ip_addr
    #     minutes: '60'
    # - service: homeassistant.update_entity
    #   entity_id: sensor.switcher_boiler