- alias: Automatic Theme Change
  trigger:
    - platform: homeassistant
      event: start
    - platform: state
      entity_id: sun.sun
  action:
    - service_template: frontend.set_theme
      data_template:
        name: >
          {% if is_state('sun.sun', 'above_horizon') %}
            dmatik-light
          {% else %}
            dmatik-dark
          {% endif %}