sensor:

############################################################################
#                                                                          #
#   HA Current Version                                                     #
#                                                                          #
############################################################################

  # - platform: version
  #   name: HA Current Version
  #   source: local



############################################################################
#                                                                          #
#   HA Available Version                                                   #
#                                                                          #
############################################################################

  # - platform: version
  #   name: HA Available Version
  #   source: container
  #   image: default
  #   beta: false


############################################################################
#                                                                          #
#   HA Update Available                                                    #
#                                                                          #
############################################################################

  # - platform: template
  #   sensors:
  #     ha_update_available:
  #       friendly_name: "HA Update Available"
  #       icon_template: mdi:update
  #       value_template: >-
  #         {% if is_state( "sensor.ha_current_version", states('sensor.ha_available_version') ) %}
  #             no
  #         {% else %}
  #             yes
  #         {% endif %}



############################################################################
#                                                                          #
#   HA DB Information                                                      #
#                                                                          #
############################################################################

  # - platform: sql
  #   db_url: !secret synology_db_connection
  #   queries:
  #     - name: DB size
  #       query: 'SELECT table_schema "homeassistant", Round(Sum(data_length + index_length) / 1024 / 1024, 1) "value" FROM information_schema.tables WHERE table_schema="homeassistant" GROUP BY table_schema;'
  #       column: 'value'
  #       unit_of_measurement: MB
  #     - name: Events size
  #       query: 'SELECT table_schema "homeassistant", Round(Sum(data_length + index_length) / 1024 / 1024, 1) "value" FROM information_schema.tables WHERE table_schema="homeassistant" and table_name="events" GROUP BY table_schema;'
  #       column: 'value'
  #       unit_of_measurement: MB
  #     - name: States size
  #       query: 'SELECT table_schema "homeassistant", Round(Sum(data_length + index_length) / 1024 / 1024, 1) "value" FROM information_schema.tables WHERE table_schema="homeassistant" and table_name="states" GROUP BY table_schema;'
  #       column: 'value'
  #       unit_of_measurement: MB
  #     - name: State Attributes size
  #       query: 'SELECT table_schema "homeassistant", Round(Sum(data_length + index_length) / 1024 / 1024, 1) "value" FROM information_schema.tables WHERE table_schema="homeassistant" and table_name="state_attributes" GROUP BY table_schema;'
  #       column: 'value'
  #       unit_of_measurement: MB
  #     - name: Statistics size
  #       query: 'SELECT table_schema "homeassistant", Round(Sum(data_length + index_length) / 1024 / 1024, 1) "value" FROM information_schema.tables WHERE table_schema="homeassistant" and table_name="statistics" GROUP BY table_schema;'
  #       column: 'value'
  #       unit_of_measurement: MB
  #     - name: Statistics Short Term size
  #       query: 'SELECT table_schema "homeassistant", Round(Sum(data_length + index_length) / 1024 / 1024, 1) "value" FROM information_schema.tables WHERE table_schema="homeassistant" and table_name="statistics_short_term" GROUP BY table_schema;'
  #       column: 'value'
  #       unit_of_measurement: MB

############################################################################
#                                                                          #
#   HA Full DB Calculated                                                  #
#                                                                          #
############################################################################

  - platform: template
    sensors:
      db_size_calculated:
        friendly_name: "DB Size Calculated"
        icon_template: mdi:database
        unit_of_measurement: MB
        value_template: >-
          {% set size = states("sensor.events_size")|float 
                        + states("sensor.state_attributes_size")|float 
                        + states("sensor.states_size")|float
                        + states("sensor.statistics_short_term_size")|float
                        + states("sensor.statistics_size")|float
          %}
          {{ size }}