light:

############################################################################
#                                                                          #
#   From Switches                                                          #
#                                                                          #
############################################################################

  # - platform: switch
  #   name: Living Room
  #   entity_id: switch.mqtt_living_room_light
    
  # - platform: switch
  #   name: Dining
  #   entity_id: switch.mqtt_dining_light

  # - platform: switch
  #   name: Kitchen
  #   entity_id: switch.mqtt_kitchen_light

  # - platform: switch
  #   name: Service Balcony
  #   entity_id: switch.mqtt_service_balcony_light
    
  # - platform: switch
  #   name: Balcony
  #   entity_id: switch.mqtt_balcony_light

  # - platform: switch
  #   name: Entrance
  #   entity_id: switch.mqtt_entrance_light

  # - platform: switch
  #   name: Hallway
  #   entity_id: switch.mqtt_hallway_light

  # - platform: switch
  #   name: Bedroom
  #   entity_id: switch.mqtt_bedroom_light

  # - platform: switch
  #   name: Kids Room
  #   entity_id: switch.mqtt_kids_room_light
    
  # - platform: switch
  #   name: Work Room
  #   entity_id: switch.mqtt_work_room_light

    

############################################################################
#                                                                          #
#   Bedside Dima Bulb                                                      #
#                                                                          #
############################################################################

  # - platform: mqtt
  #   name: "Bedside Dima"
  #   command_topic: "cmnd/bedside_dima_bulb/POWER"
  #   state_topic: "tele/bedside_dima_bulb/STATE"
  #   state_value_template: "{{ value_json.POWER }}"
  #   availability_topic: "tele/bedside_dima_bulb/LWT"
  #   brightness_command_topic: "cmnd/bedside_dima_bulb/Dimmer"
  #   brightness_state_topic: "tele/bedside_dima_bulb/STATE"
  #   brightness_scale: 100
  #   on_command_type: "brightness"
  #   brightness_value_template: "{{ value_json.Dimmer }}"
  #   rgb_command_topic: "cmnd/bedside_dima_bulb/Color2"
  #   rgb_state_topic: "tele/bedside_dima_bulb/STATE"
  #   rgb_value_template: "{{ value_json.Color.split(',')[0:3]|join(',') }}"
  #   effect_command_topic: "cmnd/bedside_dima_bulb/Scheme"
  #   effect_state_topic: "tele/bedside_dima_bulb/STATE"
  #   effect_value_template: "{{ value_json.Scheme }}"
  #   effect_list:
  #     - 0
  #     - 1
  #     - 2
  #     - 3
  #     - 4
  #   payload_on: "ON"
  #   payload_off: "OFF"
  #   payload_available: "Online"
  #   payload_not_available: "Offline"
  #   qos: 1
  #   retain: false



############################################################################
#                                                                          #
#   Bedside Galit Bulb                                                     #
#                                                                          #
############################################################################

  # - platform: mqtt
  #   name: "Bedside Galit"
  #   command_topic: "cmnd/bedside_galit_bulb/POWER"
  #   state_topic: "tele/bedside_galit_bulb/STATE"
  #   state_value_template: "{{ value_json.POWER }}"
  #   availability_topic: "tele/bedside_galit_bulb/LWT"
  #   brightness_command_topic: "cmnd/bedside_galit_bulb/Dimmer"
  #   brightness_state_topic: "tele/bedside_galit_bulb/STATE"
  #   brightness_scale: 100
  #   on_command_type: "brightness"
  #   brightness_value_template: "{{ value_json.Dimmer }}"
  #   rgb_command_topic: "cmnd/bedside_galit_bulb/Color2"
  #   rgb_state_topic: "tele/bedside_galit_bulb/STATE"
  #   rgb_value_template: "{{ value_json.Color.split(',')[0:3]|join(',') }}"
  #   effect_command_topic: "cmnd/bedside_galit_bulb/Scheme"
  #   effect_state_topic: "tele/bedside_galit_bulb/STATE"
  #   effect_value_template: "{{ value_json.Scheme }}"
  #   effect_list:
  #     - 0
  #     - 1
  #     - 2
  #     - 3
  #     - 4
  #   payload_on: "ON"
  #   payload_off: "OFF"
  #   payload_available: "Online"
  #   payload_not_available: "Offline"
  #   qos: 1
  #   retain: false


############################################################################
#                                                                          #
#   Bedside Group                                                          #
#                                                                          #
############################################################################

  - platform: group
    name: Bedsides
    entities:
      - light.bedside_dima_bulb
      - light.bedside_galit_bulb     


      
############################################################################
#                                                                          #
#   Kitchen Strips Group                                                   #
#                                                                          #
############################################################################

  - platform: group
    name: Kitchen Strips
    entities:
      - light.kitchen_strip_left
      - light.kitchen_strip_right
