card_red_alert:
  variables:
    ulm_card_pc_entity: '[[[ return entity.entity_id ]]]'
  template:
    - 'icon_info_bg'
    - 'red'
    - 'ulm_language_variables'
  entity: 'sensor.redalert'
  icon: 'mdi:radio-tower'
  name: 'צבע אדום'
  label: |-
    [[[ 
      if ( states['binary_sensor.redalert_ashdod'].state == 'on' )
        return 'אשדוד';
      else if ( states['binary_sensor.redalert_qiryat_gat'].state == 'on' )
        return 'קריית גת';
      else if (entity.state == 'off')
        return variables.ulm_off;
      else
        return variables.ulm_on; 
    ]]]
  hold_action:
    action: more-info
  tap_action:
    #haptic: heavy
    action: fire-dom-event
    browser_mod:
      command: popup
      hide_header: true
      title: ''
      
      card:

        type: custom:layout-card
        layout_type: vertical
        cards:

          ############################################################################
          #                                                                          #
          #   Back Button                                                            #
          #                                                                          #
          ############################################################################

          - type: custom:layout-card
            layout_type: grid
            layout_options:
              grid-template-columns: 1fr
              grid-template-rows: auto
              grid-gap: 0px 4px
            cards:

              - type: "custom:button-card"
                template: "popup_button_back"



          ############################################################################
          #                                                                          #
          #   Current Alerts                                                         #
          #                                                                          #
          ############################################################################

          - type: markdown
            style: |
              ha-card.type-markdown {
                background: none;
                box-shadow: none;
                padding: 0.3em 1.25em 0.4em 0.5em;
                text-align: right;
                direction: rtl;
              }
            entity_id: sensor.redalert
            content: |
              {% if state_attr('sensor.redalert', 'alert') == true %}
                ### התרעות
                {% for l in state_attr('sensor.redalert', 'current')['data'] %}
                  {{- l }}
                {% endfor %}
                </ul>
              {% else %}
                אין התרעות כרגע
              {% endif %}



          ############################################################################
          #                                                                          #
          #   History                                                                #
          #                                                                          #
          ############################################################################

          - type: markdown
            style: |
              ha-card.type-markdown {
                background: none;
                box-shadow: none;
                padding: 0.3em 1.25em 0em 0.5em;
                text-align: right;
                direction: rtl;
              }
              ha-markdown.no-header {
                padding-bottom: 0px;
              }
            entity_id: sensor.redalert_history
            content: |
              ### יממה אחרונה ({{ states['sensor.redalert_history_count'].state }} התרעות)
              
          - type: custom:list-card
            style: |
              ha-card.type-custom-list-card {
                background: none;
                box-shadow: none;
                padding: 0.3em 1em 0.4em 0.5em;
                text-align: right;
                direction: rtl;
              }
            entity: sensor.redalert_history
            title: ''
            feed_attribute: history
            columns:
              - title: תאריך
                field: date
                style:
                  - text-align: right
                  - width: 90px
                  - background-color: 'var(--primary-background-color)'
              - title: שעה
                field: time
                style:
                  - text-align: right
                  - width: 56px
                  - background-color: 'var(--primary-background-color)'
              - title: מיקום
                field: data
                style:
                  - text-align: right
                  - background-color: 'var(--primary-background-color)'


          - type: "custom:button-card"
            template: spacer
            variables:
              height: 20px