template:

  - sensor:

      ############################################################################
      #                                                                          #
      #   DIMKA                                                                  #
      #                                                                          #
      ############################################################################

      - name: dimka_disk_c_used_space
        unique_id: dimka_disk_c_used_space
        icon: mdi:harddisk
        unit_of_measurement: "%"
        state: >
          {{ state_attr('sensor.dimka_storage_c', 'UsedSpacePercentage') }}

      - name: dimka_disk_d_used_space
        unique_id: dimka_disk_d_used_space
        icon: mdi:harddisk
        unit_of_measurement: "%"
        state: >
          {{ state_attr('sensor.dimka_storage_d', 'UsedSpacePercentage') }}



      ############################################################################
      #                                                                          #
      #   GROOT                                                                  #
      #                                                                          #
      ############################################################################

      - name: groot_disk_c_used_space
        unique_id: groot_disk_c_used_space
        icon: mdi:harddisk
        unit_of_measurement: "%"
        state: >
          {{ state_attr('sensor.groot_storage_c', 'UsedSpacePercentage') }}

      - name: groot_disk_d_used_space
        unique_id: groot_disk_d_used_space
        icon: mdi:harddisk
        unit_of_measurement: "%"
        state: >
          {{ state_attr('sensor.groot_storage_d', 'UsedSpacePercentage') }}





# sensor:

#   - platform: template
#     sensors:


#       ############################################################################
#       #                                                                          #
#       #   DIMKA                                                                  #
#       #                                                                          #
#       ############################################################################

#       dimka_disk_c_used_space:
#         friendly_name: "Dimka Disk C Usage"
#         icon_template: mdi:harddisk
#         unit_of_measurement: "%"
#         value_template: >-
#           {{ state_attr('sensor.dimka_storage_c', 'UsedSpacePercentage') }}

#       dimka_disk_d_used_space:
#         friendly_name: "Dimka Disk d Usage"
#         icon_template: mdi:harddisk
#         unit_of_measurement: "%"
#         value_template: >-
#           {{ state_attr('sensor.dimka_storage_d', 'UsedSpacePercentage') }}



#       ############################################################################
#       #                                                                          #
#       #   GROOT                                                                  #
#       #                                                                          #
#       ############################################################################

#       groot_disk_c_used_space:
#         friendly_name: "GROOT Disk C Usage"
#         icon_template: mdi:harddisk
#         unit_of_measurement: "%"
#         value_template: >-
#           {{ state_attr('sensor.groot_storage_c', 'UsedSpacePercentage') }}

#       groot_disk_d_used_space:
#         friendly_name: "GROOT Disk d Usage"
#         icon_template: mdi:harddisk
#         unit_of_measurement: "%"
#         value_template: >-
#           {{ state_attr('sensor.groot_storage_d', 'UsedSpacePercentage') }}