title: נוכחות
path: tiles_presence
visible: false
type: sections
subview: true
max_columns: 3

badges:

  # Presense Chip
  - type: 'custom:button-card'
    template:
      - 'chip_two_rows_presence'
    variables:
      ulm_chip_icon_state_entity: sensor.persons_home_counter

  # School Day Chip
  - type: 'custom:button-card'
    template:
      - 'chip_school_day'
    variables:
      ulm_chip_icon_state_entity: binary_sensor.school_vacation



sections:

  ############################################################################
  #                                                                          #
  #   Presence                                                               #
  #                                                                          #
  ############################################################################

  - type: grid
    title: נוכחות  
    cards:

      # Dima
      - type: tile
        entity: person.dmatik
        show_entity_picture: true

      # Galit
      - type: tile
        entity: person.galit
        show_entity_picture: true

      # Ronen
      - type: tile
        entity: person.ronen
        show_entity_picture: true

      # Kfir
      - type: tile
        entity: person.kfir
        show_entity_picture: true



  ############################################################################
  #                                                                          #
  #   Vacations and Holidays                                                 #
  #                                                                          #
  ############################################################################

  - type: grid
    title: חופשות  
    cards:

      # School Day
      - type: 'custom:button-card'
        template: 'card_school_day'
        layout_options:
          grid_columns: 2
          grid_rows: 1

      # Vacation
      - type: 'tile'
        entity: 'input_boolean.vacation'
        name: 'חופשה'
        tap_action:
          action: 'more-info'
        icon_tap_action:
          action: 'more-info'
        color: 'accent'
        
