title: Home Assistant
path: minimalist_homeassistant
visible: false
type: custom:grid-layout
layout:
  grid-template-columns: 1fr
  grid-template-rows: auto
  mediaquery:
    "(min-width: 800px)":
      grid-template-columns: 700px
cards:

  - type: vertical-stack
    cards:


############################################################################
#                                                                          #
#   Chips                                                                  #
#                                                                          #
############################################################################

      - type: horizontal-stack
        cards:

          - type: custom:button-card
            template: edge

          # Back Chip
          - type: 'custom:button-card'
            template: chip_back_new
            variables:
              ulm_chip_navigate_path: /lovelace/minimalist_system


############################################################################
#                                                                          #
#   Sensors and Buttons                                                    #
#                                                                          #
############################################################################

      - type: horizontal-stack
        cards:

          - type: custom:button-card
            template: title
            name: Home Assistant

      - type: custom:layout-card
        layout_type: grid
        layout_options:
          grid-template-columns: 1fr
          grid-template-rows: auto
          grid-gap: 0px 4px
          mediaquery:
            "(max-width: 450px)":
              grid-template-columns: 1fr
        cards:

          # HA Vesrsions
          - type: 'custom:button-card'
            template: card_homeassistant
            variables:
              ulm_card_homeassistant_entity: 'binary_sensor.ha_update_available'
              ulm_card_homeassistant_curr_version: 'sensor.ha_current_version'
              ulm_card_homeassistant_latest_version: 'sensor.ha_available_version'
              ulm_card_homeassistant_update_script: 'script.update_homeassistant_container'

      # - type: custom:layout-card
      #   layout_type: grid
      #   layout_options:
      #     grid-template-columns: 1fr 1fr
      #     grid-template-rows: auto
      #     grid-gap: 0px 4px
      #     mediaquery:
      #       "(max-width: 450px)":
      #         grid-template-columns: 1fr 1fr
      #   cards:

      #     # Current Version
      #     - type: 'custom:button-card'
      #       template: card_generic
      #       entity: sensor.ha_current_version
      #       name: Current Version
      #       icon: mdi:home-assistant

      #     # Latest Version
      #     - type: 'custom:button-card'
      #       template: card_generic
      #       entity: sensor.ha_available_version
      #       name: Latest Version
      #       icon: mdi:package-down

      #     # Release Notes
      #     - type: 'custom:button-card'
      #       template: card_script
      #       variables: 
      #         ulm_card_script_title: Release Notes
      #         ulm_card_script_icon: 'mdi:note-text'
      #       tap_action: 
      #         action: url
      #         url_path: https://www.home-assistant.io/latest-release-notes/

      #     # Update
      #     - type: 'custom:button-card'
      #       template: card_script
      #       variables: 
      #         ulm_card_script_title: Update
      #         ulm_card_script_icon: 'mdi:update'
      #       tap_action:
      #         action: call-service
      #         service: script.update_homeassistant_container


############################################################################
#                                                                          #
#   Database                                                               #
#                                                                          #
############################################################################

      - type: horizontal-stack
        cards:

          - type: custom:button-card
            template: title
            name: Database

      - type: custom:layout-card
        layout_type: grid
        layout_options:
          grid-template-columns: 1fr 1fr 1fr
          grid-template-rows: auto
          grid-gap: 0px 4px
          mediaquery:
            "(max-width: 450px)":
              grid-template-columns: 1fr 1fr
        cards:

          # Events
          - type: 'custom:button-card'
            template: card_graph
            variables:
              ulm_card_graph_color: "var(--google-blue)"
              ulm_card_graph_name: Events
              ulm_card_graph_entity: sensor.events_size
              ulm_card_graph_icon: mdi:database

          # States
          - type: 'custom:button-card'
            template: card_graph
            variables:
              ulm_card_graph_color: "var(--google-blue)"
              ulm_card_graph_name: States
              ulm_card_graph_entity: sensor.states_size
              ulm_card_graph_icon: mdi:database

          # Full DB
          - type: 'custom:button-card'
            template: card_graph
            variables:
              ulm_card_graph_color: "var(--google-blue)"
              ulm_card_graph_name: Full DB
              ulm_card_graph_entity: sensor.db_size
              ulm_card_graph_icon: mdi:database


      - type: custom:button-card
        template: spacer
        variables:
          height: 100px