title: Kiosk
path: kiosk
visible: false
icon: mdi:view-dashboard
panel: true
    
cards:

  - type: custom:layout-card
    layout_type: grid

    layout_options:
      grid-template-columns: 1fr 1.15fr 1.15fr
      grid-template-rows: auto
      grid-gap: 0px 14px
    
    cards:


############################################################################
#                                                                          #
#   Left Column                                                            #
#                                                                          #
############################################################################

      - type: vertical-stack
        cards:

          - type: custom:button-card
            template: spacer
            
          # Clock And Weather
          - type: custom:layout-card
            layout_type: grid
            layout_options:
              grid-template-columns: 1fr
              grid-template-rows: auto
              grid-gap: 0px 4px
            cards:

              - type: custom:button-card
                template: 'card_kiosk_clock'

              - type: weather-forecast
                entity: weather.met_home_hourly
                name: " "
                style: |
                  ha-card.type-weather-forecast {
                    border-radius: 21px;
                  }            

              # Air Quality
              - type: 'custom:button-card'
                template: card_air_quality_graph
                variables:
                  ulm_card_graph_color: "var(--google-blue)"
                  ulm_card_air_quality_name: Air Quality
                  ulm_card_air_quality_entity: sensor.waqi_ashdod_yshrl_dod
                  ulm_card_air_quality_url: 'https://aqicn.org/city/ashdod/'
                  ulm_card_air_quality_type: bar
                  ulm_card_air_quality_show_extrema: true
                  ulm_card_air_quality_show_average: true
                  ulm_card_air_quality_green: 50
                  ulm_card_air_quality_yellow: 100
                  ulm_card_air_quality_hours: 48

          # Presense
          - type: custom:layout-card
            layout_type: grid
            layout_options:
              grid-template-columns: 1fr 1fr
              grid-template-rows: auto
              grid-gap: 0px 4px
              mediaquery:
                "(max-width: 450px)":
                  grid-template-columns: 1fr 1fr
            cards:

              # Dima
              - type: 'custom:button-card'
                template: card_person
                variables:
                  ulm_card_person_entity: person.dmatik
                  ulm_card_person_use_entity_picture: true
                  ulm_card_person_zone1: zone.work

              # Galit
              - type: 'custom:button-card'
                template: card_person
                variables:
                  ulm_card_person_entity: person.galit
                  ulm_card_person_use_entity_picture: true
                  ulm_card_person_zone1: zone.work_2

              # Ronen
              - type: 'custom:button-card'
                template: card_person
                variables:
                  ulm_card_person_entity: person.ronen
                  ulm_card_person_use_entity_picture: true

              # Kfir
              - type: 'custom:button-card'
                template: card_person
                variables:
                  ulm_card_person_entity: person.kfir
                  ulm_card_person_use_entity_picture: true

              # # WiFi
              # - type: 'custom:button-card'
              #   template: card_image
              #   variables: 
              #     card_image_image: '/local/images/wifi_guest.png'


############################################################################
#                                                                          #
#   Middle Column                                                          #
#                                                                          #
############################################################################

      - type: vertical-stack
        cards:

        # Climate
          - type: horizontal-stack
            cards:

              - type: custom:button-card
                template: title
                name: Climate

          - type: custom:layout-card
            layout_type: grid
            layout_options:
              grid-template-columns: 1fr 1fr
              grid-template-rows: auto
              grid-gap: 0px 4px
              mediaquery:
                "(max-width: 450px)":
                  grid-template-columns: 1fr 1fr
            cards:

              # Living Room Climate
              - type: 'custom:button-card'
                template: card_ac_buttons
                variables:
                  ulm_card_ac_entity: climate.living_room
                  ulm_card_ac_fan_mode_sensor: sensor.sensibo_living_room_fan
                  ulm_card_ac_name: 'Living Room'

              # Bedroom Climate
              - type: 'custom:button-card'
                template: card_ac_buttons
                variables:
                  ulm_card_ac_entity: climate.bedroom
                  ulm_card_ac_fan_mode_sensor: sensor.sensibo_bedroom_fan
                  ulm_card_ac_name: 'Bedroom'

              # Kids Room Climate
              - type: 'custom:button-card'
                template: card_ac_buttons
                variables:
                  ulm_card_ac_entity: climate.kids_room
                  ulm_card_ac_fan_mode_sensor: sensor.sensibo_kids_room_fan
                  ulm_card_ac_name: 'Kids Room'

              # Work Room Temperature
              - type: 'custom:button-card'
                template: card_graph
                variables:
                  ulm_card_graph_color: "var(--google-blue)"
                  ulm_card_graph_name: Work Room
                  ulm_card_graph_entity: sensor.work_room_temperature
                  
              # Kids Room Radiator
              - type: 'custom:button-card'
                template: card_power_outlet
                variables:
                  ulm_card_power_outlet_consumption_sensor: sensor.kids_radiator_energy_power 
                entity: switch.kids_radiator
                name: Kids Room

              # Bedroom Radiator
              - type: 'custom:button-card'
                template: card_power_outlet
                variables:
                  ulm_card_power_outlet_consumption_sensor: sensor.bedroom_radiator_energy_power 
                entity: switch.bedroom_radiator
                name: Bedroom


          # Devices
          - type: horizontal-stack
            cards:

              - type: custom:button-card
                template: title
                name: Devices

          - type: custom:layout-card
            layout_type: grid
            layout_options:
              grid-template-columns: 1fr 1fr
              grid-template-rows: auto
              grid-gap: 0px 4px
              mediaquery:
                "(max-width: 450px)":
                  grid-template-columns: 1fr 1fr
            cards:

              # Living Room TV
              - type: 'custom:button-card'
                template: 'card_harmony_with_buttons'
                variables:
                  ulm_card_harmony_entity: remote.living_room
                  ulm_card_harmony_name: 'Main TV'
                  ulm_card_harmony_activity_1_name: 'Smart TV'
                  ulm_card_harmony_activity_1_icon: 'mdi:television-classic'
                  ulm_card_harmony_activity_2_name: 'Shield TV'
                  ulm_card_harmony_activity_2_icon: 'mdi:movie' 

              # Switcher
              - type: 'custom:button-card'
                template: 
                  - card_switcher
                variables:
                  ulm_card_switcher_entity: switch.switcher_webapi
                  ulm_card_switcher_timer_script: script.switcher_turn_on_timer_script
                  ulm_card_switcher_time_left: sensor.switcher_webapi_time_left
                  ulm_card_switcher_timer_minutes: input_select.switcher_timer_minutes_input_select
                  ulm_card_switcher_electric_current: sensor.switcher_webapi_electric_current
                  ulm_card_switcher_auto_off: sensor.switcher_webapi_auto_off_time

              # Dimka PC
              - type: 'custom:button-card'
                template: card_pc
                entity: switch.dimka
                icon: 'mdi:desktop-classic'
                variables:
                  ulm_card_pc_name: Dimka PC

              # Printer
              - type: 'custom:button-card'
                template: card_printer
                entity: sensor.mfc_j650dw_status
                variables:
                  ulm_card_printer_name: Printer



############################################################################
#                                                                          #
#   Right Column                                                           #
#                                                                          #
############################################################################

      - type: vertical-stack
        cards:

          # Main Lights
          - type: horizontal-stack
            cards:

              - type: custom:button-card
                template: title
                name: Main Lights

          - type: custom:layout-card
            layout_type: grid
            layout_options:
              grid-template-columns: 1fr 1fr
              grid-template-rows: auto
              grid-gap: 0px 4px
              mediaquery:
                "(max-width: 450px)":
                  grid-template-columns: 1fr 1fr
            cards:

              # Living Room Light
              - type: 'custom:button-card'
                template: 'card_light_simple'
                entity: light.living_room
                name: Living Room

              # Dining Light
              - type: 'custom:button-card'
                template: 'card_light_simple'
                entity: light.dining
                name: Dining

              # Balcony Light
              - type: 'custom:button-card'
                template: 'card_light_simple'
                entity: light.balcony
                name: Balcony

              # Entrance Light
              - type: 'custom:button-card'
                template: 'card_light_simple'
                entity: light.entrance
                name: Entrance

              # Kitchen Light
              - type: 'custom:button-card'
                template: 'card_light_simple'
                entity: light.kitchen
                name: Kitchen

              # Kitchen Strips Light
              - type: 'custom:button-card'
                template: 'card_light_simple'
                entity: light.kitchen_strips
                icon: 'mdi:led-strip-variant'
                variables:
                  ulm_card_light_enable_color: true
                  ulm_card_light_enable_popup: false
                  ulm_card_light_name: Strips

              # Service Balcony Light
              - type: 'custom:button-card'
                template: 'card_light_simple'
                entity: light.service_balcony
                name: S. Balcony

              # Hallway Light
              - type: 'custom:button-card'
                template: 'card_light_simple'
                entity: light.hallway
                name: Hallway


          # Rooms Lights
          - type: horizontal-stack
            cards:

              - type: custom:button-card
                template: title
                name: Rooms Lights

          - type: custom:layout-card
            layout_type: grid
            layout_options:
              grid-template-columns: 1fr 1fr
              grid-template-rows: auto
              grid-gap: 0px 4px
              mediaquery:
                "(max-width: 450px)":
                  grid-template-columns: 1fr 1fr
            cards:

              # Bedroom Light
              - type: 'custom:button-card'
                template: 'card_light_simple'
                entity: light.bedroom
                name: Bedroom

              # Makeup Light
              - type: 'custom:button-card'
                template: 'card_light_simple'
                entity: light.makeup
                icon: mdi:string-lights
                name: Makeup

              # Bedside Dima Light
              - type: 'custom:button-card'
                template: 'card_light_simple'
                entity: light.bedside_dima_bulb
                icon: 'mdi:lamp'
                variables:
                  ulm_card_light_enable_color: true
                  ulm_card_light_enable_popup: false
                  ulm_card_light_name: Dima

              # Bedside Galit Light
              - type: 'custom:button-card'
                template: 'card_light_simple'
                entity: light.bedside_galit_bulb
                icon: 'mdi:lamp'
                variables:
                  ulm_card_light_enable_color: true
                  ulm_card_light_enable_popup: false
                  ulm_card_light_name: Galit

              # Kids Room Light
              - type: 'custom:button-card'
                template: 'card_light_simple'
                entity: light.kids_room
                name: Kids Room

              # Work Room Light
              - type: 'custom:button-card'
                template: 'card_light_simple'
                entity: light.work_room
                name: Work Room