title: Kitchen
path: minimalist_kitchen
visible: false
# type: custom:grid-layout
# layout:
#   grid-template-columns: 1fr
#   grid-template-rows: auto
#   mediaquery:
#     "(min-width: 800px)":
#       grid-template-columns: 700px
panel: true
cards:

  - type: vertical-stack
    cards:

############################################################################
#                                                                          #
#   Header                                                                 #
#                                                                          #
############################################################################

      - type: custom:button-card
        template: card_header
        variables:
          card_header_title: Kitchen
          card_header_navigate_path: /lovelace/minimalist_rooms
          card_header_back_button: true


############################################################################
#                                                                          #
#   View                                                                   #
#                                                                          #
############################################################################

      - type: "custom:mod-card"
        style:
          layout-card$:
            grid-layout$: |
              #root {
                margin-left: 0 !important;
                margin-right: 0 !important;
                justify-content: center !important;
              }
        card:
          type: custom:layout-card
          layout_type: grid
          layout_options:
            grid-template-columns: 1fr
            grid-template-rows: auto
            mediaquery:
              "(min-width: 800px)":
                grid-template-columns: 700px
          cards:

            - type: vertical-stack
              cards:


          ############################################################################
          #                                                                          #
          #   Chips                                                                  #
          #                                                                          #
          ############################################################################

                - type: horizontal-stack
                  cards:

                    - type: custom:button-card
                      template: edge

                    # Lights Chip
                    - type: 'custom:button-card'
                      template:
                        - 'chip_icon_label_state'
                        - 'chip_yellow'
                      icon: 'mdi:lightbulb'
                      variables:
                        ulm_chip_icon_state_entity: sensor.number_of_lights_on_kitchen

                    # Motion Chip
                    - type: 'custom:button-card'
                      template:
                        - 'chip_icon_label_state'
                        - 'chip_blue'
                      icon: 'mdi:run'
                      variables:
                        ulm_chip_icon_state_entity: sensor.number_of_motion_sensors_on_kitchen



          ############################################################################
          #                                                                          #
          #   Title                                                                  #
          #                                                                          #
          ############################################################################

                - type: horizontal-stack
                  cards:

                    - type: custom:button-card
                      template: title
                      name: Accessories



          ############################################################################
          #                                                                          #
          #   Cards                                                                  #
          #                                                                          #
          ############################################################################

                - type: custom:layout-card
                  layout_type: grid
                  layout_options:
                    grid-template-columns: 1fr 1fr 1fr
                    grid-template-rows: auto
                    grid-gap: 0px 2px
                    mediaquery:
                      "(max-width: 450px)":
                        grid-template-columns: 1fr 1fr
                  cards:

                    # Kitchen Light
                    - type: 'custom:button-card'
                      template: 'card_light_simple'
                      entity: light.kitchen
                      name: Kitchen

                    # Kitchen Strips Light
                    - type: 'custom:button-card'
                      template: 'card_light_simple'
                      entity: light.kitchen_strips
                      icon: 'mdi:led-strip-variant'
                      variables:
                        ulm_card_light_enable_color: true
                        ulm_card_light_enable_popup: false
                        ulm_card_light_name: Strips

                    # Switcher
                    - type: 'custom:button-card'
                      template: 
                        - card_switcher
                      variables:
                        ulm_card_switcher_entity: switch.switcher_webapi
                        ulm_card_switcher_timer_script: script.switcher_turn_on_timer_script
                        ulm_card_switcher_time_left: sensor.switcher_webapi_time_left
                        ulm_card_switcher_timer_minutes: input_select.switcher_timer_minutes_input_select
                        ulm_card_switcher_electric_current: sensor.switcher_webapi_electric_current
                        ulm_card_switcher_auto_off: sensor.switcher_webapi_auto_off_time

                    # Service Balcony Light
                    - type: 'custom:button-card'
                      template: 'card_light_simple'
                      entity: light.service_balcony
                      name: S. Balcony

                    # Kitchen Motion Sensor
                    - type: 'custom:button-card'
                      template: 
                        - card_motion_sensor
                      entity: binary_sensor.motion_kitchen
                      name: Motion
                      show_last_changed: false
                      variables:
                        light_level: sensor.motion_kitchen_lightlevel

                    # Kitchen 2 Motion Sensor
                    - type: 'custom:button-card'
                      template: 
                        - card_motion_sensor
                      entity: binary_sensor.motion_kitchen_2
                      name: Motion 2
                      show_last_changed: false
                      variables:
                        light_level: sensor.motion_kitchen_2_lightlevel



                - type: custom:button-card
                  template: spacer
                  variables:
                    height: 100px